Repository kubernetes-sigs/external-dns, pull requests merged in 2018-12, with the labels that each got.

#765 fix json syntax error - typing error
  docs/tutorials/azure.md
Labels: cncf-cla: yes, size/XS

#804 AWS: Add zone tag filter
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws.go
  provider/aws_test.go
  provider/zone_tag_filter.go
  provider/zone_tag_filter_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#803 Update coredns tutorial with RBAC manifest (see #791)
  docs/tutorials/coredns.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#820 Update coredns.md
  docs/tutorials/coredns.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#832 Implement Stringer for planTableRow
  plan/plan.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
