Repository kubernetes-sigs/external-dns, pull requests merged in 2018-05, with the labels that each got.

#542 Designate - Fixing typo
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, size/XS

#548 Give linters more time to do their work
  .travis.yml
Labels: cncf-cla: yes, size/XS

#546 source/service: if clusterIP: None, set TTL
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, size/M

#545 add support for hostname annotation in ingress resource
  source/ingress.go
  source/ingress_test.go
  source/service.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/L

#547 Fixes CNAME support in the PowerDNS provider
  provider/pdns.go
  provider/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/S

#557 AWS IAM Instance Profile
  docs/tutorials/aws.md
Labels: cncf-cla: yes, docs, lgtm, size/XS

#553 use ticker
  controller/controller.go
Labels: cncf-cla: yes, lgtm, size/XS

#560 Bump version to v0.5.1
  CHANGELOG.md
  docs/faq.md
  docs/tutorials/aws.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dyn.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/pdns.md
  docs/tutorials/public-private-route53.md
Labels: cncf-cla: yes, size/M

#572 [Cloudflare] Custom record TTL
  docs/tutorials/cloudflare.md
  provider/cloudflare.go
  provider/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, provider/cloudflare, size/M

#483 Add AWS Service Discovery provider
  Gopkg.lock
  Gopkg.toml
  README.md
  docs/tutorials/aws-sd.md
  endpoint/labels.go
  main.go
  pkg/apis/externaldns/types.go
  provider/aws_sd.go
  provider/aws_sd_test.go
  registry/aws_sd_registry.go
  registry/aws_sd_registry_test.go
Labels: cncf-cla: yes, lgtm, provider/aws, size/XXL

#574 Make DNSimple tolerant of unknown zones
  provider/dnsimple.go
  provider/dnsimple_test.go
Labels: cncf-cla: yes, lgtm, size/S
