Repository kubernetes-sigs/external-dns, pull requests merged in 2018-09, with the labels that each got.

#698 Alibaba Cloud Provider add zone info to deployment
  docs/tutorials/alibabacloud.md
Labels: cncf-cla: yes, lgtm, size/S

#657 CRD source based on getting endpoints from CRD
  docs/contributing/crd-source.md
  docs/contributing/crd-source/crd-manifest.yaml
  docs/contributing/crd-source/dnsendpoint-example.yaml
  docs/contributing/sources-and-providers.md
  endpoint/endpoint.go
  endpoint/zz_generated.deepcopy.go
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  registry/txt.go
  source/crd.go
  source/crd_test.go
  source/store.go
Labels: cncf-cla: yes, size/XL

#694 Add Source implementation for Istio Gateway
  Gopkg.lock
  Gopkg.toml
  docs/contributing/sources-and-providers.md
  docs/tutorials/istio.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/gateway.go
  source/gateway_test.go
  source/ingress.go
  source/source.go
  source/store.go
  source/store_test.go
Labels: cncf-cla: yes, size/XXL

#700 Fix Host field in HTTP request when using pdns provider
  provider/pdns.go
Labels: cncf-cla: yes, size/XS

#703 Updating CHANGELOG.md to v0.5.6
  CHANGELOG.md
Labels: cncf-cla: yes, size/XS

#704 Fix handling of custom TTL values with Google DNS.
  provider/google.go
  provider/google_test.go
Labels: cncf-cla: yes, lgtm, size/M

#714 Replace glog with a noop logger
  Gopkg.lock
  Gopkg.toml
Labels: cncf-cla: yes, size/S

#699 Allow AWS batching to fully sync on each run
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws.go
  provider/aws_test.go
Labels: cncf-cla: yes, lgtm, size/L

#719 Pass all relevant CLI flags to AWS provider
  main.go
Labels: cncf-cla: yes, size/S
