Repository kubernetes-sigs/external-dns, pull requests merged in 2018-06, with the labels that each got.

#578 Add Azure MSI support
  Gopkg.lock
  Gopkg.toml
  docs/tutorials/azure.md
  provider/azure.go
  provider/azure_test.go
Labels: cncf-cla: yes, size/M

#586 Bump version to v0.5.2
  CHANGELOG.md
  README.md
  docs/faq.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dyn.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/pdns.md
  docs/tutorials/public-private-route53.md
Labels: cncf-cla: yes, size/M

#253 CoreDNS/SkyDNS provider
  Gopkg.lock
  Gopkg.toml
  main.go
  pkg/apis/externaldns/types.go
  provider/coredns.go
  provider/coredns_test.go
Labels: cncf-cla: yes, docs missing, enhancement, new-provider, size/XL, work-in-progress

#589 add cache to limit calls to providers
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/L

#593 Update azure.md to fix protocol value
  docs/tutorials/azure.md
Labels: cncf-cla: yes, size/XS

#559 Add support for NodePort services
  endpoint/endpoint.go
  provider/recordfilter.go
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, size/L

#592 Print a message if no hosted zones match (aws provider)
  provider/aws.go
Labels: cncf-cla: yes, size/XS

#598 Bump version to v0.5.3
  CHANGELOG.md
  README.md
  docs/faq.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dyn.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/pdns.md
  docs/tutorials/public-private-route53.md
Labels: size/M

#596 Add aws max change count flag
  CHANGELOG.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws.go
  provider/aws_test.go
Labels: cncf-cla: yes, lgtm, size/M

#600 Update RBAC for external-dns to list nodes
  docs/tutorials/aws.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/digitalocean.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/pdns.md
Labels: size/S

#594 AWS provider: Properly check suitable domains
  provider/aws.go
  provider/aws_test.go
Labels: cncf-cla: yes, lgtm, size/XS

#608 Reorder provider/aws suitable-zones tests
  provider/aws_test.go
Labels: cncf-cla: yes, size/XS

#611 Read hostnames from spec.tls.hosts on Ingress object
  docs/initial-design.md
  source/ingress.go
  source/ingress_test.go
Labels: cncf-cla: yes, lgtm, size/M

#607 Adds TLS flags for pdns provider
  .travis.yml
  internal/testresources/ca.pem
  internal/testresources/client-cert-key.pem
  internal/testresources/client-cert.pem
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  pkg/tlsutils/tlsconfig.go
  provider/dyn.go
  provider/pdns.go
  provider/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/L

#579 annotation with upper-case hostnames block further updates
  plan/plan.go
  plan/plan_test.go
Labels: cncf-cla: yes, size/M

#618 Bump version to v0.5.4
  CHANGELOG.md
  docs/faq.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dyn.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/pdns.md
  docs/tutorials/public-private-route53.md
Labels: cncf-cla: yes, size/M
