Repository kubernetes-sigs/external-dns, pull requests merged in 2018-07, with the labels that each got.

#621 Remove sed deadline from travis.yml
  .travis.yml
  Gopkg.lock
  Gopkg.toml
Labels: cncf-cla: yes, lgtm, size/XS

#623 fix typo in cloudflare.md
  docs/tutorials/cloudflare.md
Labels: cncf-cla: yes, lgtm, size/XS

#628 Add aws-evaluate-target-health flag
  CHANGELOG.md
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws.go
  provider/aws_test.go
Labels: cncf-cla: yes, lgtm, provider/aws, size/L

#626 Oracle Cloud Infrastructure (OCI) DNS provider
  Gopkg.lock
  Gopkg.toml
  README.md
  docs/tutorials/oracle.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/oci.go
  provider/oci_test.go
Labels: cncf-cla: yes, lgtm, new-provider, size/XXL

#625 Added Exoscale as Provider
  Gopkg.lock
  Gopkg.toml
  README.md
  docs/tutorials/exoscale.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/exoscale.go
  provider/exoscale_test.go
Labels: cncf-cla: yes, lgtm, new-provider, size/XL

#634 fix log message for #592 when no updates in hosted zones
  provider/aws.go
Labels: cncf-cla: yes, lgtm, size/XS

#624 Update DO CNAME type API request to prevent error 422
  provider/digital_ocean.go
  provider/digital_ocean_test.go
Labels: cncf-cla: yes, size/XS

#647 Fix for empty target annotation.
  source/ingress.go
  source/ingress_test.go
Labels: cncf-cla: yes, lgtm, size/S
