Repository kubernetes-sigs/external-dns, pull requests merged in 2019-07, with the labels that each got.

#1080 Add VinylDNS as a provider
  README.md
  docs/tutorials/vinyldns.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/vinyldns.go
  provider/vinyldns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1088 Changelog v0.5.15
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1079 add dualstack support for AWS provider with ALB ingress controllers
  docs/tutorials/alb-ingress.md
  endpoint/labels.go
  provider/aws.go
  provider/aws_test.go
  provider/cloudflare_test.go
  source/ingress.go
  source/ingress_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1091 Update Dockerfiles to follow best practices
  Dockerfile
  Dockerfile.mini
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/M

#794 Namespace exposed metrics with the external_dns prefix
  controller/controller.go
Labels: approved, cncf-cla: yes, lgtm, lifecycle/rotten, size/S

#1061 fixed an issue with handling multiple oci zones
  provider/oci.go
  provider/oci_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1094 Add note about where e2e tests currently located
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1098 Add rancher dns(RDNS) provider
  README.md
  docs/tutorials/rdns.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/rdns.go
  provider/rdns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1116 Changed ttlMaximum to MaxInt32 to allow compilation on 32bit machines
  source/source.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1103 Allow to force usage of CNAME over ALIAS
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws.go
  provider/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1092 Add initial KEP for external DNS.
  docs/20190708-external-dns-incubator.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#1121 Add DNSimple Tutorial Document
  README.md
  docs/tutorials/dnsimple.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#1084 Add source implementation for Heptio Contour IngressRoute
  docs/contributing/sources-and-providers.md
  docs/tutorials/contour.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/ingressroute.go
  source/ingressroute_test.go
  source/store.go
  source/store_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1120 Update Go version and golangci-lint to the latest release
  .travis.yml
  Dockerfile
  Dockerfile.mini
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1102 add option for coredns to specify prefix name
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/coredns.go
  provider/coredns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1123 Add FAQ for the new aws-prefer-cname flag
  docs/faq.md
Labels: approved, cncf-cla: yes, lgtm, size/S
