Repository kubernetes-sigs/external-dns, pull requests merged in 2019-11, with the labels that each got.

#1253 docs: fix log-level param in tutorials
  docs/tutorials/externalname.md
  docs/tutorials/hostport.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1254 docs/designate: add snippet for rbac env
  docs/tutorials/designate.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1259 update broken links to RDNS
  docs/tutorials/rdns.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1258 Drop labeler when forking
  .github/workflows/labeler.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1195 Upgrade client-go + azure sdk
  go.mod
  go.sum
  provider/azure.go
  provider/azure_test.go
  provider/designate.go
  provider/designate_test.go
  provider/rdns.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1260 Add gov LB hosted zone
  provider/aws.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1266 Add me-south region to canonicalHostedZones
  provider/aws.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1234 Update aws.md
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, docs, lgtm, size/XS

#1268 Fix tutorial for kubernetes 1.16+
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1270 fix golint errors
  provider/rdns.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1271 Use non-deprecated initializer with context
  provider/google.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1279 Use apps/v1 for the deployment to be compatible with Kubernetes 1.16
  docs/tutorials/digitalocean.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1277 Normalize function return and comments on exported type
  internal/testutils/endpoint.go
  provider/azure_test.go
  provider/transip.go
  source/ingress.go
  source/ingressroute.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1008 [RFC] Add support for all AWS Route53 routing policies; add additional Setldentifier abstraction layer
  docs/tutorials/aws.md
  endpoint/endpoint.go
  internal/testutils/endpoint.go
  internal/testutils/endpoint_test.go
  plan/plan.go
  plan/plan_test.go
  provider/aws.go
  provider/aws_test.go
  provider/inmemory.go
  provider/inmemory_test.go
  registry/txt.go
  registry/txt_test.go
  source/dedup_source.go
  source/gateway.go
  source/ingress.go
  source/ingressroute.go
  source/service.go
  source/source.go
Labels: cncf-cla: yes, lgtm, needs-change, size/XL

#1248 Google Provider: add support for batching updates
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/google.go
  provider/google_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1284 Delete labeler
  .github/workflows/labeler.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1269 Azure Private DNS Provider
  README.md
  docs/tutorials/azure-private-dns.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/azure_private_dns.go
  provider/azure_privatedns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1290 Fix broken link of ingress-gce and ingress-nginx
  docs/tutorials/nginx-ingress.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1296 Bump the version of golangci-lint
  .travis.yml
  Makefile
  provider/azure_private_dns.go
  provider/azure_privatedns_test.go
  provider/azure_test.go
  provider/designate.go
  source/node_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M
