Repository kubernetes-sigs/external-dns, pull requests merged in 2019-04, with the labels that each got.

#959 describe how to check if your cluster has a RBAC
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#948 Remove unnecessary parameter in RFC2136 provider
  provider/rfc2136.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#968 aws-r53: adding china ELB endpoints and hosted zone id's
  provider/aws.go
  provider/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#952 Remove superfluous trailing period from hostname
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#966 Streamline AWS ApplyChanges
  provider/aws.go
  provider/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#976 fix wrong arg 'alibaba-cloud-zone' -> 'alibaba-cloud-zone-type' in manifest
  docs/tutorials/alibabacloud.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#960 Switch to go modules
  .golangci.yml
  .travis.yml
  Dockerfile
  Gopkg.lock
  Gopkg.toml
  Makefile
  README.md
  delivery.yaml
  go.mod
  go.sum
  provider/alibaba_cloud.go
  provider/alibaba_cloud_test.go
  provider/aws_sd.go
  provider/aws_test.go
  provider/designate_test.go
  provider/dnsimple_test.go
  provider/google.go
  provider/google_test.go
  provider/linode_test.go
  provider/pdns_test.go
  provider/rcode0.go
  provider/rcode0_test.go
  source/compatibility.go
  source/gateway_test.go
  source/ingress.go
  source/ingress_test.go
  source/service.go
  source/service_test.go
  source/shared_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#978 Remove disable-addon argument from gke + nginx tutorial
  docs/tutorials/nginx-ingress.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#977 Fix alibaba cloud config file missing by enable sts token
  docs/tutorials/alibabacloud.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#975 Set a default TTL for AWS Alias records
  provider/aws.go
  provider/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#970 Add support for multiple target addresses in CloudFlare provider
  provider/cloudflare.go
  provider/cloudflare_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#988 Release v0.5.13
  CHANGELOG.md
Labels: cncf-cla: yes, size/S

#991 Supress noisy Kubernetes logs
  CHANGELOG.md
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M

#963 Add NS1 as a provider
  README.md
  docs/tutorials/ns1.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/ns1.go
  provider/ns1_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#984 create missing DNS entry. fix https://github.com/kubernetes-incubator…
  source/service.go
  source/service_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1006 Add docker image faq
  docs/faq.md
Labels: approved, cncf-cla: yes, lgtm, size/S
