Repository kubernetes-sigs/external-dns, pull requests merged in 2019-08, with the labels that each got.

#1129 Add the AWS Hosted Zone ID to log info
  provider/aws.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1124 fix: support namespaces on the hostnames in istio gateway
  source/gateway.go
  source/gateway_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1141 Add bzr to build container for gocheck
  Dockerfile
  Dockerfile.mini
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1142 Fix build for Go v1.13
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1145 update digitalocean/godo to the latest stable version
  go.mod
  go.sum
  provider/digital_ocean.go
  provider/digital_ocean_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1148 update image versions in Dockerfile
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1151 fix flaky unit test in external-dns/provider
  provider/rdns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1152 Update changelog for v0.5.16
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1150 update versions and remove unnecessary files in Dockerfile
  Dockerfile
  Dockerfile.mini
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1158 Fix --aws-api-retries
  main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1162 Update changelog with fix for retries flag
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1172 Updated AWS SDK to v1.23.12
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/XS
