Repository kubernetes-sigs/external-dns, pull requests merged in 2020-03, with the labels that each got.

#1451 fix broken links:https://community.exoscale.com/documentation/dns/api/
  docs/contributing/crd-source.md
Labels: cncf-cla: yes, size/XS

#1005 Headless service: retrieve endpoints via Endpoints resource; evaluate spec.publishNotReadyAddresses
  docs/tutorials/akamai-fastdns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/exoscale.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/ns1.md
  docs/tutorials/oracle.md
  docs/tutorials/pdns.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/transip.md
  docs/tutorials/vinyldns.md
  main.go
  pkg/apis/externaldns/types.go
  source/service.go
  source/service_test.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1459 Use correct fields for test to allow compilation again
  source/service_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1444 Feature routegroup
  README.md
  docs/tutorials/kube-ingress-aws.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/ingress.go
  source/routegroup.go
  source/routegroup_test.go
  source/source.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1462 fix: return early if tokenfile could not be read
  source/routegroup.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1465 Add skipper routegroups to source flag documentation
  pkg/apis/externaldns/types.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1442 Change DomainFilter to apply to records as well
  controller/controller.go
  endpoint/domain_filter.go
  endpoint/domain_filter_test.go
  main.go
  plan/plan.go
  plan/plan_test.go
  provider/akamai.go
  provider/akamai_test.go
  provider/alibaba_cloud.go
  provider/alibaba_cloud_test.go
  provider/aws.go
  provider/aws_sd.go
  provider/aws_sd_test.go
  provider/aws_test.go
  provider/azure.go
  provider/azure_private_dns.go
  provider/azure_privatedns_test.go
  provider/azure_test.go
  provider/cloudflare.go
  provider/cloudflare_test.go
  provider/coredns.go
  provider/designate.go
  provider/designate_test.go
  provider/digital_ocean.go
  provider/digital_ocean_test.go
  provider/dnsimple.go
  provider/dnsimple_test.go
  provider/dyn.go
  provider/dyn_test.go
  provider/exoscale.go
  provider/google.go
  provider/google_test.go
  provider/infoblox.go
  provider/infoblox_test.go
  provider/inmemory.go
  provider/linode.go
  provider/linode_test.go
  provider/ns1.go
  provider/ns1_test.go
  provider/oci.go
  provider/oci_test.go
  provider/pdns.go
  provider/pdns_test.go
  provider/rcode0.go
  provider/rcode0_test.go
  provider/rdns.go
  provider/rfc2136.go
  provider/rfc2136_test.go
  provider/transip.go
  provider/vinyldns.go
  provider/vinyldns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1466 Add changelog for v0.7.0
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1439 Add OVH Provider
  README.md
  docs/tutorials/ovh.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/ovh.go
  provider/ovh_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1469 Fix DomainFilter type in OVH provider
  provider/ovh.go
  provider/ovh_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1472 Add first maintainers in list.
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1477 Bump alpine base image to 3.11.5
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS
