Repository kubernetes-sigs/external-dns, pull requests merged in 2020-01, with the labels that each got.

#1341 Remove incubator references in README
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1342 Update vinyldns docs
  docs/tutorials/vinyldns.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1326 Enable image publishing
  Makefile
  cloudbuild.yaml
  delivery.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1343 Temporarily move cloudbuild to configured path
  ci/postsubmit/push-to-staging/cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1225 docs: use apps/v1 instead of extensions/v1beta1 in Deployment examples
  docs/faq.md
  docs/tutorials/alb-ingress.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gke.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/ns1.md
  docs/tutorials/oracle.md
  docs/tutorials/pdns.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/transip.md
  docs/tutorials/vinyldns.md
Labels: approved, cncf-cla: yes, docs, lgtm, size/L

#1345 Move cloudbuild back to original path
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1344 Suppress noisy logging of klog
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1348 AWS-SD: Rebrand AWS Auto Naming to Cloud Map
  README.md
  docs/tutorials/aws-sd.md
  main.go
  provider/aws_sd.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1347 add more linters and improve code quality
  .golangci.yml
  internal/testutils/endpoint.go
  provider/alibaba_cloud.go
  provider/aws.go
  provider/aws_sd.go
  provider/aws_sd_test.go
  provider/aws_test.go
  provider/azure.go
  provider/azure_private_dns.go
  provider/azure_privatedns_test.go
  provider/azure_test.go
  provider/digital_ocean.go
  provider/dnsimple.go
  provider/dyn.go
  provider/google.go
  provider/infoblox.go
  provider/infoblox_test.go
  provider/linode.go
  provider/oci_test.go
  provider/pdns.go
  provider/pdns_test.go
  provider/rcode0.go
  provider/rdns_test.go
  provider/vinyldns.go
  source/connector.go
  source/node.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1350 Fix invalid build: key "_PULL_BASE_REF" in cloudbuild.yaml
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1351 Show environments from build
  Makefile
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, size/S

#1349 resource was moved
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1352 Add more environments to cloudbuild
  Makefile
Labels: approved, cncf-cla: yes, size/S

#1353 Add more environments to cloudbuild
  Makefile
Labels: approved, cncf-cla: yes, size/XS

#1354 Use cloudbuild tag as version in Makefile
  Makefile
Labels: approved, cncf-cla: yes, size/XS

#1355 Add changelog for v0.5.18
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1360 update aws sdk dep and golangci-lint release
  .travis.yml
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M

#1361 Add version to binary for --version flag
  Dockerfile
  Makefile
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1365 A How-to of a working GCP GKE app demo
  README.md
  docs/tutorials/gke.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1367 docs: add REgion for aws-sd external-dns deployment
  docs/tutorials/aws-sd.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1364 add ctx parameter to provider interface and aws API
  controller/controller.go
  controller/controller_test.go
  provider/alibaba_cloud.go
  provider/alibaba_cloud_test.go
  provider/aws.go
  provider/aws_sd.go
  provider/aws_sd_test.go
  provider/aws_test.go
  provider/azure.go
  provider/azure_private_dns.go
  provider/azure_privatedns_test.go
  provider/azure_test.go
  provider/cloudflare.go
  provider/cloudflare_test.go
  provider/coredns.go
  provider/coredns_test.go
  provider/designate.go
  provider/designate_test.go
  provider/digital_ocean.go
  provider/digital_ocean_test.go
  provider/dnsimple.go
  provider/dnsimple_test.go
  provider/dyn.go
  provider/exoscale.go
  provider/exoscale_test.go
  provider/google.go
  provider/google_test.go
  provider/infoblox.go
  provider/infoblox_test.go
  provider/inmemory.go
  provider/inmemory_test.go
  provider/linode.go
  provider/linode_test.go
  provider/ns1.go
  provider/ns1_test.go
  provider/oci.go
  provider/oci_test.go
  provider/pdns.go
  provider/pdns_test.go
  provider/provider.go
  provider/rcode0.go
  provider/rcode0_test.go
  provider/rdns.go
  provider/rdns_test.go
  provider/rfc2136.go
  provider/rfc2136_test.go
  provider/transip.go
  provider/vinyldns.go
  provider/vinyldns_test.go
  registry/aws_sd_registry.go
  registry/aws_sd_registry_test.go
  registry/noop.go
  registry/noop_test.go
  registry/registry.go
  registry/txt.go
  registry/txt_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1381 fix broken links:https://github.com/kubernetes/ingress/tree/master/co…
  docs/faq.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1380 Update AWS documentation
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#1382 fix broken liks:https://ns1.com/knowledgebase/creating-and-managing-u…
  docs/tutorials/ns1.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1378 istio.md: update existing external-dns to enable Istio Gateway DNS for customers
  docs/tutorials/istio.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#1374 remove context.TODO()s in external-dns
  controller/controller.go
  controller/controller_test.go
  main.go
  provider/cloudflare.go
  provider/cloudflare_test.go
  provider/digital_ocean.go
  provider/digital_ocean_test.go
  provider/exoscale.go
  provider/google.go
  provider/google_test.go
  provider/linode.go
  provider/linode_test.go
  provider/pdns.go
  provider/pdns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1387 update alpine base image to 3.11
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1384 Added new provider: Akamai FastDNS
  README.md
  docs/tutorials/akamai-fastdns.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  pkg/apis/externaldns/validation/validation.go
  provider/akamai.go
  provider/akamai_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1390 uprade golangci-lint and add megacheck & interface linters
  .golangci.yml
  .travis.yml
  endpoint/labels_test.go
  provider/akamai.go
  provider/akamai_test.go
  provider/alibaba_cloud.go
  provider/aws.go
  provider/aws_test.go
  provider/azure_private_dns.go
  provider/cloudflare_test.go
  provider/digital_ocean_test.go
  provider/dnsimple_test.go
  provider/dyn.go
  provider/google_test.go
  provider/ns1.go
  provider/rcode0_test.go
  source/cloudfoundry.go
  source/crd_test.go
  source/gateway.go
  source/ingress.go
  source/ingressroute.go
  source/node.go
  source/service.go
Labels: approved, cncf-cla: yes, lgtm, size/XL
