Repository kubernetes-sigs/external-dns, pull requests merged in 2020-10, with the labels that each got.

#1800 fix: scaleway doc bump version to 0.7.4
  docs/tutorials/scaleway.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S

#1801 Bump externalDNS image in kustomization.yaml
  kustomize/kustomization.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1802 Add support for nektos/act
  .github/workflows/ci.yml
  docs/contributing/getting-started.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1288 allow to associate aws dns records with health checks
  docs/tutorials/aws.md
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/S

#1804 Update triage/support label references to kind/support
  .github/ISSUE_TEMPLATE/-support-request.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1794 Adds release script
  docs/release.md
  scripts/kustomize-version-udapter.sh
  scripts/releaser.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, tide/merge-method-squash

#1815 First implementation for arm images
  Dockerfile
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/M, tide/merge-method-squash

#1805 Infoblox skip zones not matching a given view
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: approved, cncf-cla: yes, hacktoberfest-accepted, lgtm, size/XS

#1446 Allow multiple services to share same dns record
  source/service.go
  source/service_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L, squash-on-merge

#1821 Pre pull of images to make builds pass
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1824 Bump cloudbuild timeout for new release process
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1832 aws-r53 adding Africa (Cape Town) ELB endpoints and hosted zone id's
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1833 cloudflare: readme update for RBAC config
  docs/tutorials/cloudflare.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1813 Add NS record support
  .gitignore
  README.md
  docs/tutorials/ns-record.md
  endpoint/endpoint.go
  go.sum
  plan/plan.go
  provider/cloudflare/cloudflare_test.go
  provider/ovh/ovh_test.go
  provider/rcode0/rcode0_test.go
  provider/recordfilter.go
  source/crd_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1838 Add arm32v7 arch for images
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1842 Add GOARM for arm32v7 images
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1843 Add FAQ for multiarch images
  docs/faq.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1839 Add namespace for httpbin-gateway in istio doc
  docs/tutorials/istio.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1818 Update to Go 1.15 & update Azure dependencies
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.mini
  docs/contributing/getting-started.md
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M

#1847 Fix OVH tutorial to match new permissions
  docs/tutorials/ovh.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#1850 fix typos
  controller/controller.go
  controller/controller_test.go
  endpoint/endpoint.go
  provider/coredns/coredns.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS
