Repository kubernetes-sigs/external-dns, pull requests merged in 2020-11, with the labels that each got.

#1854 corrected broken link in multiple docs
  docs/contributing/getting-started.md
  docs/contributing/sources-and-providers.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1857 Fix RFC2136 tutorial
  docs/tutorials/rfc2136.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#1479 Infoblox multiple A records support
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/L, tide/merge-method-squash
