Repository kubernetes-sigs/external-dns, pull requests merged in 2020-07, with the labels that each got.

#1655 use latest Alpine version in ExternalDNS dockerfile
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1607 add new source for istio virtual services
  docs/tutorials/istio.md
  internal/testutils/mock_source.go
  pkg/apis/externaldns/types.go
  source/gateway.go
  source/gateway_test.go
  source/source_test.go
  source/store.go
  source/virtualservice.go
  source/virtualservice_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1657 add a github action
  .github/workflows/ci.yml
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1627 dependencies: Upgrade all k8s client-go dependent sources to v1.18.X
  controller/controller.go
  go.mod
  go.sum
  internal/testutils/mock_source.go
  source/cloudfoundry.go
  source/connector.go
  source/connector_test.go
  source/crd.go
  source/crd_test.go
  source/dedup_source.go
  source/dedup_source_test.go
  source/empty.go
  source/empty_test.go
  source/fake.go
  source/fake_test.go
  source/gateway.go
  source/gateway_test.go
  source/ingress.go
  source/ingress_test.go
  source/ingressroute.go
  source/ingressroute_test.go
  source/multi_source.go
  source/multi_source_test.go
  source/node.go
  source/node_test.go
  source/ocproute.go
  source/routegroup.go
  source/routegroup_test.go
  source/service.go
  source/service_test.go
  source/source.go
  source/virtualservice.go
  source/virtualservice_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1662 Create pull_request_template
  .github/pull_request_template.md
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, tide/merge-method-squash

#1636 Remove occurrences of "master" from the project
  .github/ISSUE_TEMPLATE/-support-request.md
  OWNERS
  README.md
  SECURITY_CONTACTS
  docs/20190708-external-dns-incubator.md
  docs/contributing/crd-source.md
  docs/faq.md
  docs/initial-design.md
  docs/proposal/multi-target.md
  docs/release.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/kube-ingress-aws.md
  docs/tutorials/openshift.md
  docs/tutorials/ovh.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/awssd/aws_sd.go
  source/crd.go
  source/routegroup.go
  source/service_test.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, size/L, tide/merge-method-squash

#1661 Update link for linode cloud manager
  docs/tutorials/linode.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1689 fix: add serviceaccount name in kustomize deployment
  CHANGELOG.md
  kustomize/external-dns-deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1692 update dependencies and minor dep tree cleanup
  go.mod
  go.sum
  provider/alibabacloud/alibaba_cloud.go
  provider/alibabacloud/alibaba_cloud_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1688 Upgrade Oracle OCI SDK
  CHANGELOG.md
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1635 UltraDNS Provider
  .github/labeler.yml
  CHANGELOG.md
  README.md
  docs/ttl.md
  docs/tutorials/ultradns.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/ultradns/ultradns.go
  provider/ultradns/ultradns_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL
