Repository kubernetes-sigs/external-dns, pull requests merged in 2020-05, with the labels that each got.

#1537 Improve Cloudflare tests in preparation to fix other issues
  go.mod
  go.sum
  provider/cloudflare_test.go
  provider/provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1553 Remove duplicate selector from DigitalOcean manifest
  docs/tutorials/digitalocean.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1554 Update go versions to 1.14.x that were missed in commit 99cebfcf from PR #1476
  .travis.yml
  Dockerfile.mini
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M

#1561 Fix goreportcard warnings
  endpoint/endpoint.go
  provider/aws_test.go
  provider/cloudflare_test.go
  provider/ovh_test.go
  provider/vultr.go
  source/routegroup.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1564 Fix typo in ttl.md
  docs/ttl.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1566 fix minor typos in istio gateway source docs
  docs/tutorials/istio.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1551 Upgrade DNSimple client and add support for contexts
  go.mod
  go.sum
  provider/dnsimple.go
  provider/dnsimple_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1568 Make tests faster
  .travis.yml
  Makefile
  internal/config/config.go
  internal/testutils/init.go
  source/gateway.go
  source/ingress.go
  source/ingress_test.go
  source/ingressroute.go
  source/node.go
  source/ocproute.go
  source/routegroup_test.go
  source/service.go
  source/service_test.go
  source/source.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1569 update Contour IngressRoute deps
  go.mod
  go.sum
  source/ingressroute.go
  source/ingressroute_test.go
  source/store.go
  source/store_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1582 Add owners for cloudflare and coredns providers
  provider/cloudflare/OWNERS
  provider/coredns/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1542 Fix updates in CloudFlare provider
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/provider.go
  provider/provider_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1584 use istio client-go and clean up k8s deps
  go.mod
  go.sum
  source/crd.go
  source/crd_test.go
  source/gateway.go
  source/gateway_test.go
  source/ingress_test.go
  source/service_test.go
  source/store.go
  source/store_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1587 use the latest linode go version
  go.mod
  go.sum
  provider/linode/linode.go
  provider/linode/linode_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1590 Fix issue with too large DNS messages
  provider/rfc2136/rfc2136.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1483 add --txt-suffix feature
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/validation/validation.go
  registry/txt.go
  registry/txt_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1592 Update Govcloud provider hosted zones
  provider/aws/aws.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1494 Allow ZoneIDFilter for Cloudflare
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1567 Fix scheduling of reconciliation
  controller/controller.go
  controller/controller_test.go
  internal/testutils/mock_source.go
  main.go
  pkg/k8sutils/async/bounded_frequency_runner.go
  source/cloudfoundry.go
  source/connector.go
  source/crd.go
  source/dedup_source.go
  source/empty.go
  source/fake.go
  source/gateway.go
  source/ingress.go
  source/ingressroute.go
  source/multi_source.go
  source/node.go
  source/ocproute.go
  source/routegroup.go
  source/service.go
  source/source.go
  source/source_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1559 Use consistent headless service name in example
  docs/tutorials/hostport.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1575 remove some code duplication in gateway source
  source/gateway.go
  source/gateway_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1603 Support for AWS Route53 in China
  go.mod
  go.sum
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S
