Repository kubernetes-sigs/external-dns, pull requests merged in 2020-12, with the labels that each got.

#1874 Fix diff highlighting in CoreDNS tutorial
  docs/tutorials/coredns.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#1876 fix some typos
  docs/contributing/getting-started.md
  docs/tutorials/hostport.md
  docs/tutorials/kube-ingress-aws.md
  source/httpproxy.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1879 fix for 1878
  docs/tutorials/akamai-fastdns.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1867 Allow AWS provider to change record types
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1880 Add Vultr to Readme
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1888 Update README.md
  README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#1695 Support wildcard records - Optional ability to replace the asterisk in generated registry TXT records with another string
  main.go
  pkg/apis/externaldns/types.go
  registry/txt.go
  registry/txt_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M

#1868 Add new method to provider interface to implement provider specific changes
  controller/controller.go
  plan/plan.go
  plan/plan_test.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/provider.go
  registry/aws_sd_registry.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
  source/ingress_test.go
  source/store_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, tide/merge-method-squash

#1905 Bump kustomize version to 0.7.5
  kustomize/kustomization.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1892 Fix typos
  docs/20190708-external-dns-incubator.md
  docs/contributing/getting-started.md
  docs/initial-design.md
  docs/tutorials/pdns.md
  docs/tutorials/ultradns.md
  pkg/apis/externaldns/types.go
  provider/cloudflare/cloudflare.go
  provider/dyn/dyn.go
  provider/oci/oci.go
  provider/ovh/ovh_test.go
  provider/transip/transip.go
  provider/ultradns/ultradns_test.go
  source/routegroup.go
  source/service_test.go
  source/source_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/M

#1898 fix doc: Correct document for aws.md about route53 health check association
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#1893 digitalocean: Set a custom user-agent string.
  provider/digitalocean/digital_ocean.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1425 feat: use ClusterIP with internal-hostname annotation
  README.md
  docs/contributing/getting-started.md
  docs/faq.md
  source/service.go
  source/service_test.go
  source/source.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M
