Repository kubernetes-sigs/external-dns, pull requests merged in 2021-08, with the labels that each got.

#2078 Fix managed-record-types option
  controller/controller.go
  controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S

#2197 Fix controller tests
  controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S

#2205 bump kustomize version to v0.9.0
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2207 Add CodeQL support
  .github/workflows/codeql-analysis.yml
Labels: cncf-cla: yes, lgtm, size/M, approved

#2213 Fix alpine vulnerabilities
  Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2212 create dependabot.yml
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/S, approved

#2190 Source: Dedupe Common Logic
  source/ambassador_host.go
  source/contour_httpproxy.go
  source/contour_httpproxy_test.go
  source/contour_ingressroute.go
  source/contour_ingressroute_test.go
  source/dedupsource.go
  source/dedupsource_test.go
  source/gloo_proxy.go
  source/gloo_proxy_test.go
  source/ingress.go
  source/ingress_test.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
  source/kong_tcpingress.go
  source/multisource.go
  source/multisource_test.go
  source/node.go
  source/openshift_route.go
  source/openshift_route_test.go
  source/pod.go
  source/service.go
  source/skipper_routegroup.go
  source/skipper_routegroup_test.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/XL, kind/cleanup, approved

#2219 Fix dependabot config
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2221 Fix Scaleway provider uint parsing
  provider/scaleway/scaleway.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2208 Add helm chart
  .github/workflows/lint-test-chart.yaml
  .github/workflows/release-chart.yaml
  .gitignore
  charts/external-dns/.helmignore
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/templates/NOTES.txt
  charts/external-dns/templates/_helpers.tpl
  charts/external-dns/templates/clusterrole.yaml
  charts/external-dns/templates/clusterrolebinding.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/service.yaml
  charts/external-dns/templates/serviceaccount.yaml
  charts/external-dns/templates/servicemonitor.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XL, approved
