Repository kubernetes-sigs/external-dns, pull requests merged in 2021-07, with the labels that each got.

#2127 rfc2136: add batch size support
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  pkg/apis/externaldns/validation/validation.go
  pkg/apis/externaldns/validation/validation_test.go
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2149 Remove extra `$` when clicked on `copy to clipboard`
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2144 bluecat: add delete functionality
  provider/bluecat/bluecat.go
  provider/bluecat/bluecat_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/L

#2164 Clean up extra spaces
  scripts/update_route53_k8s_txt_owner.py
Labels: approved, cncf-cla: yes, lgtm, size/S

#2083 Updated k8s manifest for Azure DNS provider #2082
  docs/tutorials/azure.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2091 Feature/ignore ingress rules
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/ingress.go
  source/ingress_test.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2065 Provide example of multiple values for "in" filter
  docs/faq.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#2185 bluecat: improve test coverage
  provider/bluecat/bluecat.go
  provider/bluecat/bluecat_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/M

#2153 CloudDNS: Allow filtering for private and public zones
  README.md
  docs/faq.md
  docs/tutorials/gke.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/google/google.go
  provider/google/google_test.go
  provider/zone_type_filter.go
  provider/zone_type_filter_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2188 Source: Deflake and Parallelize Tests
  source/connector_test.go
  source/crd_test.go
  source/gateway_test.go
  source/gloo_test.go
  source/httpproxy_test.go
  source/ingress_test.go
  source/ingressroute_test.go
  source/kong_tcpingress_test.go
  source/multi_source_test.go
  source/node_test.go
  source/ocproute_test.go
  source/pod_test.go
  source/routegroup_test.go
  source/service_test.go
  source/shared_test.go
  source/store_test.go
  source/virtualservice_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/L
