Repository kubernetes-sigs/external-dns, pull requests merged in 2021-04, with the labels that each got.

#2035 Add 'bluecat' as possible option to the provider flag
  pkg/apis/externaldns/types.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#2031 Avoid nil pointer deference in extractHeadlessEndpoints
  source/service.go
  source/service_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/M

#2018 Document annotation-filter usage
  docs/faq.md
  docs/tutorials/public-private-route53.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#1504 Add regex domain filters
  endpoint/domain_filter.go
  endpoint/domain_filter_test.go
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L

#2038 Add seanmalloy As Reviewer
  OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#2032 Add pod source [kops compatibility]
  README.md
  pkg/apis/externaldns/types.go
  source/pod.go
  source/pod_test.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1860 AWS Route 53 provider: fix various problems with handling of alias records
  internal/testutils/endpoint.go
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/L

#2039 Add release conventions
  docs/release.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#2021 fix(scaleway): drop support for organization ID as it's not needed
  docs/tutorials/scaleway.md
  provider/scaleway/scaleway.go
  provider/scaleway/scaleway_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1993 add krb5 realm support
  .gitignore
  docs/tutorials/rfc2136.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/validation/validation.go
  pkg/apis/externaldns/validation/validation_test.go
  provider/rfc2136/rfc2136.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M

#2052 bluecat: allow setting tls verify and TTL
  provider/bluecat/bluecat.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M

#2056 bluecat: allow setting TTL on cname and host records
  provider/bluecat/bluecat.go
  provider/bluecat/bluecat_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M

#2053 Bluecat documentation
  .github/labeler.yml
  docs/tutorials/bluecat.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, provider/bluecat, size/S
