Repository kubernetes-sigs/external-dns, pull requests merged in 2021-06, with the labels that each got.

#2117 Update README to mention v0.8 release
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2120 fix_2099
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/exoscale.md
  docs/tutorials/gke.md
  docs/tutorials/gloo-proxy.md
  docs/tutorials/godaddy.md
  docs/tutorials/hetzner.md
  docs/tutorials/hostport.md
  docs/tutorials/infoblox.md
  docs/tutorials/kube-ingress-aws.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/ns1.md
  docs/tutorials/openshift.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
  kustomize/external-dns-clusterrole.yaml
  kustomize/external-dns-clusterrolebinding.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#2121 Vultr : Update vultr provider to use API v2
  go.mod
  go.sum
  main.go
  provider/vultr/vultr.go
  provider/vultr/vultr_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1696 Optional ability to use the host name defined on an ingress's annotations *instead* of its hosts stanza
  docs/faq.md
  source/ingress.go
  source/ingress_test.go
  source/source.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L

#2118 Update rfc2136.md
  docs/tutorials/rfc2136.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2131 update for latest version
  docs/tutorials/gke.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2130 Update azure-private-dns tutorial image tag to v0.8.0
  docs/tutorials/azure-private-dns.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2010 Reduce AWS Route53 API calls
  controller/controller.go
  controller/controller_test.go
  endpoint/domain_filter.go
  plan/plan.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/provider.go
  registry/aws_sd_registry.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, provider/aws, size/L

#2017 Fix CNAME update for hetzner provider
  provider/hetzner/hetzner.go
  provider/hetzner/hetzner_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, provider/hetzner, size/M

#2037 Add Gandi provider
  README.md
  docs/tutorials/gandi.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/gandi/client.go
  provider/gandi/gandi.go
  provider/gandi/gandi_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/XXL

#2113 Feature matchparent
  docs/tutorials/pdns.md
  endpoint/domain_filter.go
  endpoint/domain_filter_test.go
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L

#2110 Adding ability to query Infoblox API using regex for fqdn (#2102)
  docs/tutorials/infoblox.md
  main.go
  pkg/apis/externaldns/types.go
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2089 Add the --default-targets flag
  main.go
  pkg/apis/externaldns/types.go
  source/multi_source.go
  source/multi_source_test.go
  source/store.go
Labels: approved, cncf-cla: yes, lgtm, provider/azure, size/M

#2109 Add support for Kong's TCPIngress with a load balancer
  docs/tutorials/kong.md
  pkg/apis/externaldns/types.go
  source/kong_tcpingress.go
  source/kong_tcpingress_test.go
  source/store.go
  source/store_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#2041 Kops compatibility mode
  README.md
  docs/legacy/kops-dns-controller.md
  docs/tutorials/kops-dns-controller.md
  pkg/apis/externaldns/types.go
  source/compatibility.go
  source/pod.go
  source/pod_test.go
  source/service.go
  source/service_test.go
  source/store.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/XL

#2141 Akamai tutorial update
  docs/tutorials/akamai-edgedns.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#2147 Clean up OpenShift Route source implementation
  source/ocproute.go
  source/ocproute_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#2095 Fixed AWSSDRegistry nil labels map
  registry/aws_sd_registry.go
  source/node.go
  source/node_test.go
  source/shared_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S, tests-missing

#2138 updated external-dns version to latest
  docs/tutorials/scaleway.md
Labels: approved, cncf-cla: yes, lgtm, size/XS
