Repository kubernetes-sigs/external-dns, pull requests merged in 2021-12, with the labels that each got.

#2453 images: use k8s-staging-test-infra/gcb-docker-gcloud
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2417 feat: randomise startup
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/S, approved

#2457 Remove broken Azure config test
  provider/azure/azure_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2422 Changes to add count of A records of source and registry as metrics
  controller/controller.go
  controller/controller_test.go
  docs/faq.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#2468 Add cluster role permissions for other sources
  charts/external-dns/README.md
  charts/external-dns/templates/clusterrole.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#2415 Restore cluster role permissions to read services when Istio sources are enabled
  charts/external-dns/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2476 feat(chart): Update chart to use v0.10.2
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#2236 Add missing test for AWS geolocation subdivision routing policy
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/XS, lifecycle/stale, approved

#2261 Document usage of AWS env vars
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2443 Add event handler for OpenShift Route source
  source/openshift_route.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2483 bump kustomize to v0.10.2
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2439 RFC2136: add NS record support
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2298 Bump Cloudflare-Go
  go.mod
  go.sum
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2471 Cloudflare provider - Removed incorrect log message
  provider/cloudflare/cloudflare.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2414 Fix ingress spec in given examples
  docs/tutorials/alb-ingress.md
  docs/tutorials/kube-ingress-aws.md
  docs/tutorials/nginx-ingress.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#2485 Fix build by fixing go.sum
  go.sum
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2479 BlueCat: use proxy env variables
  docs/tutorials/bluecat.md
  provider/bluecat/bluecat.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2487 Fix trivy workflow
  .github/workflows/trivy.yml
  scripts/run-trivy.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2491 chore(dockerfile): bump alpine version to 3.15
  Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved
