Repository kubernetes-sigs/external-dns, pull requests merged in 2021-01, with the labels that each got.

#1909 Fix typo in comment
  controller/controller.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1915 Add flag to opt in for NS records management
  controller/controller.go
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  plan/plan.go
  plan/plan_test.go
  provider/aws/aws_test.go
  provider/cloudflare/cloudflare_test.go
  registry/txt_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, tide/merge-method-squash

#1919 Update release script to include squashed commits
  scripts/releaser.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1870 Refactor, cleanup Akamai provider
  CHANGELOG.md
  README.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/akamai-fastdns.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  pkg/apis/externaldns/validation/validation.go
  provider/akamai/akamai.go
  provider/akamai/akamai_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/XXL

#1918 Documentation on Route53 and Govcloud.
  docs/tutorials/aws.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/M

#1922 Bump kustomize version to 0.7.6
  kustomize/kustomization.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1925 modify the error url of external-dns rbac
  docs/tutorials/kube-ingress-aws.md
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/docs, size/XS

#1912 Refactor azure private dns auth
  docs/tutorials/azure-private-dns.md
  main.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/config.go
  provider/azure/config_test.go
Labels: approved, cncf-cla: yes, lgtm, provider/azure, size/XL

#1914 Correct format of SRV record for NodePort
  source/service.go
  source/service_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#1642 Support Ambassador Host resources as sources
  go.mod
  go.sum
  pkg/apis/externaldns/types.go
  source/ambassador_host.go
  source/ambassador_host_test.go
  source/store.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/XL

#1859 fix(scaleway): only use absolute CNAMEs
  CHANGELOG.md
  provider/scaleway/scaleway.go
  provider/scaleway/scaleway_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S
