Repository kubernetes-sigs/external-dns, pull requests merged in 2021-03, with the labels that each got.

#1938 Bump Scaleway DNS API to v2beta1
  CHANGELOG.md
  go.mod
  go.sum
  provider/scaleway/interface.go
  provider/scaleway/scaleway.go
  provider/scaleway/scaleway_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1989 Delete CHANGELOG.md
  CHANGELOG.md
Labels: approved, cncf-cla: yes, lgtm, size/XL

#1999 updated to latest Istio 1.7 libs
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2004 external-dns configuration update
  docs/tutorials/rfc2136.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS

#2011 remove outdated provider list from FAQ, link to list in README
  docs/faq.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S

#2007 Approve crd v1
  docs/contributing/crd-source/crd-manifest.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#2012 updated ingress apiVersion
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/coredns.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/gke.md
  docs/tutorials/kube-ingress-aws.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/M

#2015 rfc2136: Add cli flag for Kerberos realm and improve tutorial
  docs/tutorials/rfc2136.md
  main.go
  pkg/apis/externaldns/types.go
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/M

#1506 Add Initial BlueCat Provider Support
  README.md
  docs/tutorials/bluecat.md
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/bluecat/OWNERS
  provider/bluecat/bluecat.go
  provider/bluecat/bluecat_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, new-provider, ok-to-test, size/XXL

#1693 feat: add gloo proxy source
  docs/tutorials/gloo-proxy.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/gloo.go
  source/gloo_test.go
  source/store.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/XL

#2020 Downgrade Azure provider "Failed to extract" log message to debug
  provider/azure/azure.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2013 Add the ability to configure k8s event rate limit
  controller/controller.go
  controller/controller_test.go
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#2009 Increase AWS pagination size
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#2003 Update to Go 1.16
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.mini
  docs/contributing/getting-started.md
  go.mod
Labels: approved, cncf-cla: yes, lgtm, size/S
