Repository kubernetes-sigs/external-dns, pull requests merged in 2022-07, with the labels that each got.

#2856 Fix Helm chart CHANGELOG for v1.10.0
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: kind/bug, cncf-cla: yes, lgtm, size/XS, approved

#2866 Remove namespace from cluster scoped resources
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/templates/clusterrole.yaml
  charts/external-dns/templates/clusterrolebinding.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#2851 ci: update docker automatically
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2842 Update references to UK Fast after merge with ANS group
  README.md
  docs/tutorials/ANS_Group_SafeDNS.md
  go.mod
  go.sum
  provider/safedns/safedns.go
  provider/safedns/safedns_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2811 Handle the migration to the new TXT format: create missing records
  controller/controller.go
  docs/registry.md
  main.go
  plan/plan.go
  plan/plan_test.go
  registry/aws_sd_registry.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2913 Handle the migration to the new TXT format: missing records to be created separately
  controller/controller.go
  controller/controller_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2609 Do not reschedule, if already scheduled in the next MinInterval
  controller/controller.go
  controller/controller_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2895 updates owners to add szuecs
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved
