Repository kubernetes-sigs/external-dns, pull requests merged in 2022-05, with the labels that each got.

#2115 Headless service: allow to specify target as NodeExternalIP or by annotation
  docs/tutorials/hostport.md
  source/service.go
  source/service_test.go
  source/source.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/L, approved

#2719 Update to stable GSS-TSIG API
  go.mod
  go.sum
  provider/rfc2136/rfc2136.go
Labels: cncf-cla: yes, lgtm, size/M, kind/cleanup, approved

#2728 Updated tutorial to support Kubernetes 1.22
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#2738 Revert "Revert "Workflow for automatic documentation creation and publishing""
  .github/workflows/docs.yml
  .gitignore
  README.md
  docs/img/external-dns.png
  docs/scripts/copy_docs.sh
  docs/scripts/docs.go
  docs/scripts/index.html.gotmpl
  docs/scripts/requirements.txt
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/L, approved

#2745 Azure provider doc refresh
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#2574 [Docs] Clarify registry feature description in FAQ
  docs/faq.md
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, lifecycle/stale, approved

#2755 Infoblox provider: fix for target value duplication
  go.mod
  go.sum
  main.go
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2292 Add Support for Gateway API Route Sources
  docs/tutorials/gateway-api.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  source/gateway.go
  source/gateway_hostname.go
  source/gateway_httproute.go
  source/gateway_httproute_test.go
  source/gateway_tcproute.go
  source/gateway_tcproute_test.go
  source/gateway_tlsroute.go
  source/gateway_tlsroute_test.go
  source/gateway_udproute.go
  source/gateway_udproute_test.go
  source/store.go
  source/store_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/XXL, approved

#2707 Add IBM Cloud provider
  README.md
  docs/tutorials/ibmcloud.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/ibmcloud/ibmcloud.go
  provider/ibmcloud/ibmcloud_test.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/XXL, sig/cloud-provider, approved

#2771 Bump yaml.v3 to fix vulnerabilit
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2775 Update kustomize version to v0.12.0
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved
