Repository kubernetes-sigs/external-dns, pull requests merged in 2022-02, with the labels that each got.

#2586 provider/bluecat: add full deploy functionality
  docs/tutorials/bluecat.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/bluecat/bluecat.go
  provider/bluecat/bluecat_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/L, approved

#2582 Remove an obsolete TODO comment
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, kind/cleanup, approved

#2510 AWSSD: Cleanup empty Services
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2592 fix azure dep
  go.mod
  go.sum
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
Labels: cncf-cla: yes, size/S, approved

#2626 Helm chart: fix documented valid options for logLevel
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved
