Repository kubernetes-sigs/external-dns, pull requests merged in 2022-01, with the labels that each got.

#2493 Remove broken link
  docs/proposal/registry.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2488 Add txtSuffix value to Helm chart
  charts/external-dns/Chart.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2500 [Infoblox] Disable always changed by defaulting TTL to 0
  main.go
  pkg/apis/externaldns/types.go
  provider/infoblox/infoblox.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2477 Add annotations to Deployment
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2233 provider hetzner: respect --dry-run
  provider/hetzner/hetzner.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2359 Create SafeDNS provider
  README.md
  docs/tutorials/UKFast_SafeDNS.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/safedns/safedns.go
  provider/safedns/safedns_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#2484 Add support for TopologySpreadConstraints to Helm Chart
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2502 [Infoblox] Granular level of logging
  provider/infoblox/infoblox.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2508 AWSSD: Removed GetServiceDetail
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2532 Bump To Go 1.17
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.mini
  Makefile
  docs/contributing/getting-started.md
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/L, kind/cleanup, approved

#2535 Correcting README
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved

#2534 Pass stop channel to informer factory instances
  main.go
  source/ambassador_host.go
  source/contour_httpproxy.go
  source/contour_httpproxy_test.go
  source/ingress.go
  source/ingress_test.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
  source/kong_tcpingress.go
  source/kong_tcpingress_test.go
  source/node.go
  source/node_test.go
  source/openshift_route.go
  source/openshift_route_test.go
  source/pod.go
  source/pod_test.go
  source/service.go
  source/service_test.go
  source/store.go
  source/store_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2424 Use ShowAll: true query argument for recordsets resource
  README.md
  provider/akamai/akamai.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2521 add quotes to ttl example to force string context
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2539 Add missing test for overriding managed-record-types
  pkg/apis/externaldns/types_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2498 Add the canonical hosted zone for Cloudfront
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2556 New bluecat provider CLI options
  docs/tutorials/bluecat.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/bluecat/bluecat.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/L, approved
