Repository kubernetes-sigs/external-dns, pull requests merged in 2022-03, with the labels that each got.

#2635 Revert hetzner plugin
  README.md
  docs/tutorials/hetzner.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/hetzner/hetzner.go
  provider/hetzner/hetzner_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#2666 bump ukfast sdk version
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/S, approved

#2571 feat[chart]: Release v1.8.0
  .github/workflows/lint-test-chart.yaml
  .github/workflows/release-chart.yaml
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  docs/contributing/chart.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#2647 Fix documentation for Azure TTL
  docs/ttl.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2671 Fix CI release notes generation
  .github/workflows/release-chart.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved
