Repository kubernetes-sigs/external-dns, pull requests merged in 2022-12, with the labels that each got.

#3185 Bump external-dns image tag to v0.13.1
  docs/tutorials/azure-private-dns.md
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, approved

#3145 feat(chart): Added ability to customise the service account labels.
  charts/external-dns/README.md
  charts/external-dns/templates/serviceaccount.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3205 CI linting fixes
  .golangci.yml
  internal/testutils/init.go
  pkg/tlsutils/tlsconfig.go
  provider/alibabacloud/alibaba_cloud.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/config.go
  provider/azure/config_test.go
  provider/bluecat/gateway/api.go
  provider/bluecat/gateway/api_test.go
  provider/coredns/coredns.go
  provider/designate/designate_test.go
  provider/godaddy/client.go
  provider/ibmcloud/ibmcloud.go
  provider/oci/oci.go
  provider/pihole/client.go
  provider/provider_test.go
  provider/rdns/rdns.go
  provider/tencentcloud/cloudapi/tencentapi.go
  provider/tencentcloud/tencent_cloud.go
  source/crd_test.go
  source/skipper_routegroup.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#3159 fix: Support conversion from/to simple to/from other routing policies for the AWS provider.
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3212 Revert "fix: Support conversion from/to simple to/from other routing policies for the AWS provider."
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3191 Fix typo: kustomize-version-updater.sh file name, ClusterIP capitalization
  docs/contributing/getting-started.md
  docs/release.md
  scripts/kustomize-version-updater.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3197 chore[chart]: Updated chart to v0.13.1
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#3227 Add secretConfiguration.subPath to mount specific files from secret
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash

#3171 pkg/apis/externaldns/types.go: add civo
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3003 Log when infoblox provider deletes a record at info
  provider/infoblox/infoblox.go
Labels: cncf-cla: yes, lgtm, size/XS, lifecycle/stale, approved

#2993 Fix documentation for CloudFlare TTL
  docs/ttl.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3261 Update image references
  charts/external-dns/README.md
  charts/external-dns/values.yaml
  docs/faq.md
  docs/tutorials/ANS_Group_SafeDNS.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/bluecat.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gateway-api.md
  docs/tutorials/gke.md
  docs/tutorials/gloo-proxy.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/kong.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/nodes.md
  docs/tutorials/ns1.md
  docs/tutorials/openshift.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#2857 bug: fix digital ocean provider not setting TTL
  provider/digitalocean/digital_ocean.go
  provider/digitalocean/digital_ocean_test.go
Labels: kind/bug, cncf-cla: yes, lgtm, size/S, approved, ¯\_(ツ)_/¯, ok-to-test

#3267 chore(dockerfile): bump alpine version to 3.17
  Dockerfile
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved
