Repository kubernetes-sigs/external-dns, pull requests merged in 2022-11, with the labels that each got.

#2852 Add Civo DNS as a new provider
  README.md
  docs/tutorials/civo.md
  go.mod
  go.sum
  main.go
  provider/civo/civo.go
  provider/civo/civo_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#2850 Restore support for exclusion-only domain filters for AWS provider
  endpoint/domain_filter.go
  endpoint/domain_filter_test.go
  provider/alibabacloud/alibaba_cloud.go
  provider/google/google.go
  provider/ibmcloud/ibmcloud.go
  provider/oci/oci.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3135 GitHub Workflows security hardening
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-chart.yaml
  .github/workflows/trivy.yml
Labels: cncf-cla: yes, lgtm, size/S, approved

#3125 Pi-Hole Local DNS Support - rebases #2321
  README.md
  docs/tutorials/pihole.md
  main.go
  pkg/apis/externaldns/types.go
  provider/pihole/client.go
  provider/pihole/client_test.go
  provider/pihole/pihole.go
  provider/pihole/pihole_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#3121 bump go-gandi to v0.5.0
  go.mod
  go.sum
  provider/gandi/gandi.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3099 Update ingress-nginx installation guide for azure private dns
  docs/tutorials/azure-private-dns.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3044 Remove leading space from https://api.ote-godaddy.com endpoint
  provider/godaddy/client.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3094 reorder cloudflare updates to delete before create
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3140 Fix deletion of DNS Records for VirtualServices when an Error occures
  source/istio_virtualservice.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3157 Set request scheme to "https" (default http) for alibabacloud provider
  provider/alibabacloud/alibaba_cloud.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3177 fix: New provider specific update
  plan/plan.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#2803 rfc2136: remove deprecated MD5 key algorithm
  provider/rfc2136/rfc2136.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3199 Revert "fix: New provider specific update"
  plan/plan.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3152 Upgrade ExternalDNS to go 1.19
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .golangci.yml
  Dockerfile
  Dockerfile.mini
  Makefile
  docs/contributing/getting-started.md
  go.mod
  internal/testutils/endpoint.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash

#3144 feat(chart): Provide config secret and use tpl function for providers and extraArgs
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/secret.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved
