Repository kubernetes-sigs/external-dns, pull requests merged in 2022-09, with the labels that each got.

#3008 Ignore ambassador-hosts with invalid annotations
  source/ambassador_host.go
  source/ambassador_host_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2989 drop golint from linters
  .golangci.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2847 Set logformat before logging config
  docs/tutorials/gke.md
  main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2630 Add the provider for the Tencent Cloud.
  README.md
  docs/tutorials/tencentcloud.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/tencentcloud/cloudapi/api.go
  provider/tencentcloud/cloudapi/clientset.go
  provider/tencentcloud/cloudapi/mockapi.go
  provider/tencentcloud/cloudapi/readonlyapi.go
  provider/tencentcloud/cloudapi/tencentapi.go
  provider/tencentcloud/dnspod.go
  provider/tencentcloud/privatedns.go
  provider/tencentcloud/tencent_cloud.go
  provider/tencentcloud/tencent_cloud_test.go
  provider/zone_id_filter.go
Labels: cncf-cla: yes, lgtm, size/XXL, sig/cloud-provider, approved

#2758 Fix/missing regions r53
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/S, lifecycle/stale, approved

#2923 feat: Add Plural DNS provider
  README.md
  docs/tutorials/plural.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  provider/plural/client.go
  provider/plural/plural.go
  provider/plural/plural_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#2881 gateway-api: upgrade from v0.4.3 to v0.5.0
  docs/tutorials/gateway-api.md
  go.mod
  go.sum
  source/gateway.go
  source/gateway_httproute.go
  source/gateway_httproute_test.go
  source/gateway_tcproute.go
  source/gateway_tcproute_test.go
  source/gateway_tlsroute.go
  source/gateway_tlsroute_test.go
  source/gateway_udproute.go
  source/gateway_udproute_test.go
  source/store.go
  source/store_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#3035 Bump dependencies for multiple packages
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/S, approved

#3050 Documentation: Update aws.md
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/S, approved
