Repository kubernetes-sigs/external-dns, pull requests merged in 2022-08, with the labels that each got.

#2693 add target filters based on network
  docs/faq.md
  endpoint/target_filter.go
  endpoint/target_filter_test.go
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/targetfiltersource.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#2908 Update All GitHub Actions to use Go 1.18
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
Labels: cncf-cla: yes, lgtm, size/XS, kind/cleanup, approved

#2902 feat: Add support to configure dnsPolicy on the Helm chart deployment
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#2772 Changed the Deployment strategy to 'Recreate' so multiple external-dns pods don't conflict with each other.
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2940 Updated Helm chart to use ExternalDNS v0.12.2
  .github/workflows/lint-test-chart.yaml
  .github/workflows/release-chart.yaml
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#2952 Update kustomization.yaml to v0.12.2
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2890 Infoblox - Correct GetObject query
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2955 Fixed a minor typo in aws tutorial
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2818 support ExternalID in AWS Provider when assuming a role
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws/aws.go
  provider/awssd/aws_sd.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2864 bump govultr from v2.14.1 to v2.17.2
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2961 Bump several dependencies
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/L, approved

#2965 More dependabot updates
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/M, approved
