Repository kubernetes-sigs/external-dns, pull requests merged in 2022-06, with the labels that each got.

#2716 fix: prefer IP addresses as "less" when comparing endpoints
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.mini
  Makefile
  docs/contributing/getting-started.md
  endpoint/endpoint.go
  endpoint/endpoint_test.go
  go.mod
  go.sum
  plan/conflict_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2759 GKE doc tutorial refresh
  docs/tutorials/gke.md
Labels: cncf-cla: yes, lgtm, size/XL, approved

#2767 Docs: Improve NodePort and hostPort mentions in FAQ
  docs/faq.md
  docs/tutorials/hostport.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2796 fix: additionalPermissions is an array not object
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2807 Explicitly set Helm chart resource namespaces & support common labels
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/_helpers.tpl
  charts/external-dns/templates/clusterrole.yaml
  charts/external-dns/templates/clusterrolebinding.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/service.yaml
  charts/external-dns/templates/serviceaccount.yaml
  charts/external-dns/templates/servicemonitor.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#2786 Support proxying wildcard records
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2783 fix: remove split of host/port
  provider/rfc2136/rfc2136.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2822 fix dependabot.yml intendation
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2766 AWS refresh, added IRSA section
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XL, kind/documentation, approved

#2777 feat[chart]: Update to ExternalDNS v0.12.0
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
