Repository kubernetes-sigs/external-dns, pull requests merged in 2023-12, with the labels that each got.

#4088 chore: update 45 go modules dependancies
  .github/workflows/lint.yaml
  Makefile
  go.mod
  go.sum
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
  provider/ns1/ns1.go
  provider/rfc2136/rfc2136_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#4084 webhook: Move httpapi into own package
  main.go
  provider/webhook/api/httpapi.go
  provider/webhook/api/httpapi_test.go
  provider/webhook/webhook.go
  provider/webhook/webhook_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4095 doc: Add netcup webhook provider
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4093 update to add il-central-1
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4103 helm: Avoid unnecessary pod restart on each helm chart version
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4118 Correct typo from 'Kuberntes' to 'Kubernetes'
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4129 cleanup: remove dead code (`(Create|Update|Delete)Records` functions in AWS, Google, DNSimple)
  provider/aws/aws_test.go
  provider/dnsimple/dnsimple.go
  provider/google/google.go
  provider/google/google_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4131 chore: fix code comment
  provider/azure/config.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4082 fix: include cloudflare error in metrics and logs
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4124 gateway-api: fix wildcard matching
  source/gateway.go
  source/gateway_grpcroute_test.go
  source/gateway_httproute_test.go
  source/gateway_tcproute_test.go
  source/gateway_test.go
  source/gateway_tlsroute_test.go
  source/gateway_udproute_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4051 Hetzner webhook provider readme link
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4076 Fix timeout for traefik-proxy source
  docs/tutorials/traefik-proxy.md
  main.go
  pkg/apis/externaldns/types.go
  source/store.go
  source/traefik_proxy.go
  source/traefik_proxy_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4115 fix: remove useless functions
  plan/plan.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4092 fix(ambassador): don't resolve LB hostname
  source/ambassador_host.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4133 doc(azure): shows how to use userAssignedIdentityID with clientId in azure.json
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved
