Repository kubernetes-sigs/external-dns, pull requests merged in 2023-06, with the labels that each got.

#3661 feat(chart): updated chart to ExternalDNS v0.13.5
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, ok-to-test

#3456 Define Labels type and JSON tags for ProviderSpecific fields
  docs/contributing/crd-source.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3653 Remove roadmap section from README.md
  README.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#3660 Simplify filter interfaces
  endpoint/domain_filter.go
  endpoint/target_filter.go
  endpoint/target_filter_test.go
  provider/akamai/akamai.go
  provider/pihole/client.go
  provider/tencentcloud/privatedns.go
  provider/zone_id_filter.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3594 Very minor typo Update to azure.md
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3673 Upgrade ExternalDNS to go 1.20
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yaml
  .golangci.yml
  Dockerfile
  Dockerfile.mini
  docs/contributing/getting-started.md
  go.mod
  provider/coredns/coredns.go
  provider/rdns/rdns.go
  provider/tencentcloud/cloudapi/mockapi.go
  source/fake.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3678 Enable dependabot grouped updates
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#3664 Add johngmyers to reviewers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3691 chore: Fixed gh workflow approve
  .github/workflows/gh-workflow-approve.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3427 Provider GoDaddy fix domain update
  provider/godaddy/client.go
  provider/godaddy/godaddy.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3693 Update dependencies that has vulnerabilities
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/M, approved

#3476 Gloo: Add support for listener.metadataStatic
  source/gloo_proxy.go
  source/gloo_proxy_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3055 Add support for Traefik 2's IngressRoute, IngressRouteTCP and IngressRouteUDP
  docs/tutorials/traefik-proxy.md
  internal/testutils/endpoint_test.go
  pkg/apis/externaldns/types.go
  source/store.go
  source/store_test.go
  source/traefik_proxy.go
  source/traefik_proxy_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#3698 Replace deprecated command with environment file
  .github/workflows/lint-test-chart.yaml
  .github/workflows/release-chart.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3689 feat(chart): comply with Pod Security Standards
  charts/external-dns/CHANGELOG.md
  charts/external-dns/ci/ci-values.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#3674 Route53 update configuration of target health checks
  endpoint/endpoint.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/provider.go
  provider/scaleway/scaleway.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3635 Handle migration to the new TXT format: use ForceUpdate strategy
  controller/controller.go
  controller/controller_test.go
  plan/plan.go
  plan/plan_test.go
  registry/aws_sd_registry.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3697 build(deps): bump dev-dependencies group with 41 updates
  .github/workflows/lint.yaml
  .golangci.yml
  go.mod
  go.sum
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/ibmcloud/ibmcloud.go
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
  provider/rfc2136/rfc2136.go
  provider/tencentcloud/cloudapi/mockapi.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
  source/openshift_route.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2928 minor fixes to the scaleway provider
  provider/scaleway/scaleway.go
Labels: cncf-cla: yes, lgtm, size/S, lifecycle/stale, approved, ok-to-test

#3648 Add DynamoDB registry implementation
  docs/registry/dynamodb.md
  docs/registry/registry.md
  endpoint/endpoint.go
  main.go
  mkdocs.yml
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws/aws.go
  provider/aws/session.go
  provider/awssd/aws_sd.go
  provider/inmemory/inmemory.go
  provider/inmemory/inmemory_test.go
  registry/dynamodb.go
  registry/dynamodb_test.go
  registry/txt.go
  registry/txt_test.go
  source/node.go
  source/pod.go
  source/service.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#3723 Update aws IAM policy example
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3338 create an alias when record in a zone another than the target
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3729 Document annotations
  docs/annotations/annotations.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/L, approved

#3687 Fix bug in the civo provider to avoid infinite record creation
  docs/tutorials/civo.md
  provider/civo/civo.go
  provider/civo/civo_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3629 Add no-change info log for cloudflare provider
  provider/cloudflare/cloudflare.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#3728 Refactor some Service code
  source/service.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3282 fix: scaleway documentation, remove SCW_DEFAULT_ORGANIZATION_ID
  docs/tutorials/scaleway.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3325 Added traefik-proxy rules to helm chart
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#3738 [AWS] Adjust TTL for alias records
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#3739 Suppress dependabot updates for OpenShift
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3745 support cnames and aaaa for default-targets
  pkg/apis/externaldns/types.go
  source/multisource.go
  source/multisource_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test
