Repository kubernetes-sigs/external-dns, pull requests merged in 2023-03, with the labels that each got.

#3392 Added name~ regex match to infoblox with --infoblox-name-regex argument
  docs/tutorials/infoblox.md
  main.go
  pkg/apis/externaldns/types.go
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3364 cloudflare - customizable pagination when listing DNS records
  docs/tutorials/cloudflare.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3433 Add AWS VPC endpoint canonical hosted zone IDs
  docs/tutorials/aws.md
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3467 Fix dnscontrol
  go.mod
  go.sum
  provider/infoblox/infoblox.go
  provider/transip/transip_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3162 Add F5 Networks VirtualServer source
  docs/tutorials/f5-virtualserver.md
  go.mod
  go.sum
  pkg/apis/externaldns/types.go
  source/f5_virtualserver.go
  source/f5_virtualserver_test.go
  source/store.go
  source/store_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#3472 docker buildx and tester
  .github/workflows/staging-image-tester.yml
  Dockerfile
  Makefile
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#3485 Fix prow CI build
  Makefile
  cloudbuild.yaml
  go.sum
Labels: cncf-cla: yes, lgtm, size/M, approved

#3494 updated icon image path
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3500 Bump libcrypto and libssl
  Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3501 Actions Updates - yaml & json validation
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/json-yaml-validate.yml
  .github/workflows/lint.yaml
  .github/workflows/staging-image-tester.yml
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3505 Update kustomize and all tutorials to v0.13.4
  docs/faq.md
  docs/tutorials/ANS_Group_SafeDNS.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/bluecat.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gateway-api.md
  docs/tutorials/gke.md
  docs/tutorials/gloo-proxy.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/kong.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/nodes.md
  docs/tutorials/ns1.md
  docs/tutorials/openshift.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved

#3511 Fix docs for `--managed-record-types`
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#3403 [helm] Add support for namespaced scope
  charts/external-dns/README.md
  charts/external-dns/templates/clusterrole.yaml
  charts/external-dns/templates/clusterrolebinding.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#3503 Add RBAC to be able to handle F5 VirtualServer source
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
