Repository kubernetes-sigs/external-dns, pull requests merged in 2023-05, with the labels that each got.

#3583 Added video tutorial in azure.md for using Azure DNS
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#3009 If an error propagates all the way out, bail execution
  controller/controller.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3525 docs: add example for provider specific config
  docs/contributing/crd-source/dnsendpoint-example.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#1828 Try #3: Support encrypted DNS txt records
  docs/registry.md
  endpoint/crypto.go
  endpoint/crypto_test.go
  endpoint/labels.go
  endpoint/labels_test.go
  main.go
  pkg/apis/externaldns/types.go
  provider/awssd/aws_sd.go
  registry/aws_sd_registry.go
  registry/txt.go
  registry/txt_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3588 IPv6 internal node IPs are usable externally
  docs/tutorials/nodes.md
  source/compatibility.go
  source/node.go
  source/node_test.go
  source/pod.go
  source/pod_test.go
  source/service.go
  source/service_test.go
  source/shared_test.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3590 feat(service): allow using target annotation
  source/service.go
  source/service_test.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3519 Add support for MX records in Azure, GCP and AWS
  README.md
  docs/tutorials/mx-record.md
  endpoint/endpoint.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
  provider/azure/common.go
  provider/azure/common_test.go
  provider/google/google.go
  provider/google/google_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3607 Refactor route53 tests
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#3604 Add Canonical Hosted Zone IDs for ELB/NLB in eu-south-2 (Spain) AWS region
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3603 Allow multiple hostnames in internal annotation for pods
  source/pod.go
  source/pod_test.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3611 Remove UpdateOld changeset for Azure
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#3600 Support AAAA records from headless services
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3342 fix(gandi): allow grandi provider to support multiple TXT rsetvalues
  provider/gandi/gandi.go
  provider/gandi/gandi_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3626 chore(deps): bump libcrypto3 and libssl3 3.0.8-r4
  Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3646 docs: Update deprecated apiVersions
  docs/tutorials/civo.md
  docs/tutorials/gandi.md
  docs/tutorials/hostport.md
  docs/tutorials/public-private-route53.md
Labels: cncf-cla: yes, lgtm, size/S, approved

#3642 Bump kustomize version to latest (v0.13.5)
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3643 Bump versions in docs for v0.13.5
  docs/faq.md
  docs/tutorials/ANS_Group_SafeDNS.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/bluecat.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gateway-api.md
  docs/tutorials/gke.md
  docs/tutorials/gloo-proxy.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/kong.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/nodes.md
  docs/tutorials/ns1.md
  docs/tutorials/openshift.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
Labels: cncf-cla: yes, lgtm, size/L, approved
