Repository kubernetes-sigs/external-dns, pull requests merged in 2023-01, with the labels that each got.

#3273 docs: rename ALB ingress controller to AWS Load Balancer Controller
  README.md
  docs/tutorials/aws-load-balancer-controller.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3242 [flags/provider] handle alphabetically and in one place
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2563 designate: exclude internal labels
  provider/designate/designate.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2662 stop processing after zone lookup failed
  provider/cloudflare/cloudflare.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3279 docs: rename alb-ingress-controller to aws-load-balancer-controller
  docs/tutorials/aws-load-balancer-controller.md
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, approved

#3271 gateway-api: patch route informer results with TypeMeta
  source/gateway_httproute.go
  source/gateway_tcproute.go
  source/gateway_tlsroute.go
  source/gateway_udproute.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3268 gateway-api: upgrade from v0.5.1 to v0.6.0 and add GRPCRoute support
  docs/tutorials/gateway-api.md
  go.mod
  go.sum
  pkg/apis/externaldns/types.go
  source/gateway_grpcroute.go
  source/gateway_grpcroute_test.go
  source/gateway_tcproute.go
  source/gateway_tlsroute.go
  source/gateway_udproute.go
  source/ingress_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3294 Fix null pointer on generateTxtRecord
  registry/txt.go
  registry/txt_test.go
Labels: kind/bug, cncf-cla: yes, lgtm, size/M, approved

#3295 Pack dependabot PRs
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/XL, approved

#3280 provider/ovh: Fix import
  go.mod
  go.sum
  provider/ovh/ovh.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3292 Minor correction in GKE tutorial
  docs/tutorials/gke.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3222 Allow AWS Route53 routing policy change to/from simple to others.
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/ovh/ovh.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3323 updates kustomize with newly released version
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3288 Update cloudflare-go to 0.58.1
  go.mod
  go.sum
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3201 Improve Azure tutorials
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#1209 Route53: retry single changes in a batch if the batch fails
  endpoint/labels.go
  internal/testutils/endpoint.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  registry/txt.go
  registry/txt_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/XL, approved

#3331 Added automation to run GH actions on PRs with ok-to-test
  .github/workflows/gh-workflow-approve.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#2709 Use HasPrefix to check for ownerID
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3344 Add Osaka (ap-northeast-3) Hosted Zone ID for AWS Network Load Balancers
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved
