Repository kubernetes-sigs/external-dns, pull requests merged in 2023-02, with the labels that each got.

#3350 Fixed bad syntax in GH action workflow approval
  .github/workflows/gh-workflow-approve.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3297 Only update PiHole entries when they have actually changed
  provider/pihole/pihole.go
  provider/pihole/pihole_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3371 feat[chart]: Updated to v0.13.2
  .github/workflows/release-chart.yaml
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#3073 specify --regex-domain-filter, alibaba provider cannot get any records
  provider/alibabacloud/alibaba_cloud.go
  provider/alibabacloud/alibaba_cloud_test.go
Labels: cncf-cla: yes, lgtm, size/M, lifecycle/stale, approved, ok-to-test

#3366 [helm] Add support for relabelings and metricRelabelings at serviceMonitor
  charts/external-dns/README.md
  charts/external-dns/templates/servicemonitor.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved

#3368 Replace all versions of docker images with latest in tutorial
  docs/faq.md
  docs/release.md
  docs/tutorials/ANS_Group_SafeDNS.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/bluecat.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gateway-api.md
  docs/tutorials/gke.md
  docs/tutorials/gloo-proxy.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/kong.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/nodes.md
  docs/tutorials/ns1.md
  docs/tutorials/openshift.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#3389 chore: Fixed GH workflow approval
  .github/workflows/gh-workflow-approve-test.yaml
  .github/workflows/gh-workflow-approve.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#3390 Force updating libcrypto3 and libssl3 in docker image
  Dockerfile
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash

#3383 enabled zurich endpoint
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3428 Fix a minor typo in AWS tutorial
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved
