Repository kubernetes-sigs/external-dns, pull requests merged in 2023-09, with the labels that each got.

#3040 Update Azure SDK and remove deprecated autorest dependency
  go.mod
  go.sum
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
  provider/azure/common.go
  provider/azure/common_test.go
  provider/azure/config.go
  provider/azure/config_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#3834 Update aws.go for issue #3833
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#3860 Remove DomainFilterInterface
  controller/controller.go
  endpoint/domain_filter.go
  plan/plan.go
  plan/plan_test.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3862 Use common EndpointKey type
  registry/txt.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3806 Document the Ingress source
  docs/sources/ingress.md
  docs/sources/sources.md
  mkdocs.yml
  pkg/apis/externaldns/types.go
  source/ingress.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3906 feat(azure): add support for workload identity using azidentity
  docs/tutorials/azure.md
  provider/azure/config.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3839 Make TLS enabled by default for PowerDNS provider
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3917 feat(helm-chart): Released chart for v0.13.6
  .github/workflows/lint-test-chart.yaml
  .github/workflows/release-chart.yaml
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#3923 update kustomization.yaml with v0.13.6
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3903 fix(linode): don't try to create existing records
  provider/linode/linode.go
  provider/linode/linode_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#3922 feat: upgrade ExternalDNS to go 1.21
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yaml
  .github/workflows/staging-image-tester.yml
  cloudbuild.yaml
  docs/contributing/getting-started.md
  go.mod
  go.sum
  provider/dnsimple/dnsimple_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3931 Add johngmyers as approver
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3447 fix: nodePort #2704 - publish ready endpoints
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3690 fix: filter peering zones in google provider
  provider/google/google.go
  provider/google/google_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3451 Filter out entire endpoint if it ends up without targets after filtering in targetFilterSource
  source/targetfiltersource.go
  source/targetfiltersource_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3452 Allow annotation target override on gateway
  docs/annotations/annotations.md
  source/gateway.go
  source/gateway_httproute_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3747 Fix planning for multi-cluster dual stack record types
  controller/controller.go
  endpoint/endpoint.go
  endpoint/endpoint_test.go
  plan/conflict.go
  plan/conflict_test.go
  plan/plan.go
  plan/plan_test.go
  registry/aws_sd_registry.go
  registry/dynamodb.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#3911 chore(providers): allow AdjustEndpoints to return error
  controller/controller.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/ibmcloud/ibmcloud.go
  provider/ibmcloud/ibmcloud_test.go
  provider/infoblox/infoblox.go
  provider/plural/plural.go
  provider/provider.go
  provider/scaleway/scaleway.go
  provider/scaleway/scaleway_test.go
  registry/aws_sd_registry.go
  registry/dynamodb.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3912 [TXT Registry] Fix `Records()` case handling
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3889 Support GoDaddy domains with PENDING_DNS_ACTIVE status
  provider/godaddy/client.go
  provider/godaddy/godaddy.go
  provider/godaddy/godaddy_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#3908 feat(azure): add AAAA records support
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3913 Document the Service source
  docs/sources/ingress.md
  docs/sources/service.md
  docs/sources/sources.md
  mkdocs.yml
  source/service.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3893 Gandi provider: refactor tests to be more readable, robusts, and extensible; and minor fixes
  provider/gandi/gandi.go
  provider/gandi/gandi_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#3480 Add support for multiple gloo namespaces in one External DNS instance
  docs/tutorials/gloo-proxy.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/gloo_proxy.go
  source/gloo_proxy_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3935 Move seanmalloy to emeritus_approvers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3910 Represent AWS Alias records as record type A
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/inmemory/inmemory.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3936 Document the Gateway sources
  docs/sources/gateway.md
  docs/sources/sources.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/L, approved

#3748 Add --exclude-record-types flag
  controller/controller.go
  main.go
  pkg/apis/externaldns/types.go
  plan/plan.go
  plan/plan_test.go
  registry/dynamodb.go
  registry/dynamodb_test.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3941 Remove dependency on dnscontrol
  go.mod
  go.sum
  pkg/rfc2317/arpa.go
  pkg/rfc2317/arpa_test.go
  provider/infoblox/infoblox.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3937 Document where OWNERS file should be synced
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3063 Webhook provider
  docs/img/webhook-provider.png
  docs/tutorials/webhook-provider.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/webhook/httpapi.go
  provider/webhook/httpapi_test.go
  provider/webhook/webhook.go
  provider/webhook/webhook_test.go
Labels: cncf-cla: yes, lgtm, size/XL, new-provider, approved, tide/merge-method-squash

#3938 Use ServiceIP for ClusterIP Services with internal-hostname annotation
  docs/annotations/annotations.md
  docs/sources/service.md
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3940 Support --label-filter for node source
  docs/sources/sources.md
  pkg/apis/externaldns/types.go
  source/node.go
  source/node_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#3957 Add --webhook-server flag for running as a webhook server
  docs/tutorials/webhook-provider.md
  main.go
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash

#3963 Clarified documentation for Pi-hole DNS provider
  docs/tutorials/pihole.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test
