Repository kubernetes-sigs/external-dns, pull requests merged in 2023-10, with the labels that each got.

#3939 Refactor getTTLFromAnnotations() to not return error
  source/ambassador_host.go
  source/contour_httpproxy.go
  source/f5_virtualserver.go
  source/gateway.go
  source/gloo_proxy.go
  source/ingress.go
  source/istio_gateway.go
  source/istio_virtualservice.go
  source/kong_tcpingress.go
  source/node.go
  source/openshift_route.go
  source/service.go
  source/skipper_routegroup.go
  source/source.go
  source/source_test.go
  source/traefik_proxy.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#2506 AWSSD: Utilize DiscoverInstances instead of ListInstances
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/L, priority/backlog, approved, tide/merge-method-squash, ok-to-test

#3969 document there are four ways of configuring access
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#3968 fix: parentheses typo on cli help
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3340 Add external_dns_controller_last_reconcile_timestamp_seconds metric
  controller/controller.go
  docs/faq.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3942 fix(azure): sovereign cloud support
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/config.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3962 Remove the --run-aws-provider-as-webhook flag
  main.go
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3987 Add support for NS records in the Linode provider
  provider/linode/linode.go
  provider/linode/linode_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3901 [TXT Registry] Make the nonce stable when generating delete records
  endpoint/crypto.go
  endpoint/labels.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3700 Add mloiseleur to reviewer group
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3983 Allow opt-out of service account token automounting
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/serviceaccount.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#4002 Update Scaleway provider to support config files
  docs/tutorials/scaleway.md
  provider/scaleway/scaleway.go
  provider/scaleway/scaleway_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3734 feat: add support for external IP in ambassador host source
  source/ambassador_host.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
