Repository kubernetes-sigs/external-dns, pull requests merged in 2023-04, with the labels that each got.

#3049 Allow multiple records per A record in OpenStack Designate Provider
  provider/designate/designate.go
  provider/designate/designate_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#3508 updated relative link for external-dns logo
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#1701 OCI provider: add support for instance principal authentication
  docs/tutorials/oracle.md
  main.go
  pkg/apis/externaldns/types.go
  provider/oci/oci.go
  provider/oci/oci_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#2661 [AWS] Include DnsEndpoint example with AWS provider specifics
  docs/contributing/crd-source/dnsendpoint-aws-example.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved

#2461 Add support for AAAA records
  controller/controller.go
  controller/controller_test.go
  docs/faq.md
  endpoint/endpoint.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  plan/plan.go
  plan/plan_test.go
  provider/pdns/pdns.go
  provider/recordfilter.go
  provider/recordfilter_test.go
  provider/transip/transip_test.go
  registry/txt.go
  registry/txt_test.go
  source/contour_httpproxy_test.go
  source/ingress_test.go
  source/istio_gateway_test.go
  source/istio_virtualservice_test.go
  source/openshift_route_test.go
  source/service.go
  source/service_test.go
  source/shared_test.go
  source/skipper_routegroup_test.go
  source/source.go
  source/source_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#2220 CRD source: add event-handler support
  main.go
  source/crd.go
  source/crd_test.go
  source/store.go
Labels: kind/feature, cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3546 Simplify planner's data structure
  plan/plan.go
Labels: cncf-cla: yes, lgtm, size/M, kind/cleanup, approved, ok-to-test

#3558 Fix incorrect arg in Oracle OCI tutorial
  docs/tutorials/oracle.md
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, approved

#3556 OCI provider: bump oci-go-sdk from 24.3.0 to 65.35.0
  go.mod
  go.sum
  provider/oci/oci.go
  provider/oci/oci_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#3459 Updated new annotation : ingressClassName: nginx
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/XS, kind/documentation, approved

#3554 feat: resolve LB-type Service hostname to create A/AAAA instead of CNAME
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
  main.go
  pkg/apis/externaldns/types.go
  source/service.go
  source/service_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#3552 cloudflare: support reading API token from file
  docs/tutorials/cloudflare.md
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#3569 chore(chart): Reverted chart changes to args
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved
