Repository kubernetes-sigs/external-dns, pull requests merged in 2024-11, with the labels that each got.

#4838 fix: change function name to properly reflect crud
  provider/cloudflare/cloudflare.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4646 feat(cloudflare): support cloudflare region
  docs/tutorials/cloudflare.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4854 chore(aws): add region ap-southeast-5
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4887 chore(deps): update go to v1.23.3 for CVE-2024-34156
  go.mod
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4847 fix(Google DNS): ensure trailing dot on NS records
  provider/google/google.go
  provider/google/google_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4886 fix(aws): add soft error
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4849 Add options `labelFilter` and `managedRecordTypes` in Helm Chart
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/ci/ci-values.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4899 docs(Azure DNS): fix tutorial about Azure identity variables
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4885 fix(txt-suffix): avoid crash on domain without dot
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
