Repository kubernetes-sigs/external-dns, pull requests merged in 2024-09, with the labels that each got.

#4469 feat: support dual stack for gateway api
  docs/sources/gateway.md
  source/gateway.go
  source/gateway_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4719 chore: remove unmaintained providers
  README.md
  charts/external-dns/README.md
  charts/external-dns/README.md.gotmpl
  docs/ttl.md
  docs/tutorials/ANS_Group_SafeDNS.md
  docs/tutorials/bluecat.md
  docs/tutorials/dyn.md
  docs/tutorials/rcodezero.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  pkg/apis/externaldns/validation/validation.go
  pkg/apis/externaldns/validation/validation_test.go
  provider/bluecat/OWNERS
  provider/bluecat/bluecat.go
  provider/bluecat/bluecat_test.go
  provider/bluecat/gateway/api.go
  provider/bluecat/gateway/api_test.go
  provider/dyn/dyn.go
  provider/dyn/dyn_test.go
  provider/dyn/soap/client.go
  provider/dyn/soap/services.go
  provider/rcode0/rcode0.go
  provider/rcode0/rcode0_test.go
  provider/safedns/safedns.go
  provider/safedns/safedns_test.go
  provider/vinyldns/vinyldns.go
  provider/vinyldns/vinyldns_test.go
  provider/vultr/vultr.go
  provider/vultr/vultr_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4593 feat: NAT64 network source
  docs/nat64.md
  main.go
  mkdocs.yml
  pkg/apis/externaldns/types.go
  source/nat64source.go
  source/nat64source_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4726 docs: refactor title and organisation
  README.md
  docs/sources/about.md
  docs/sources/f5-virtualserver.md
  docs/sources/gateway-api.md
  docs/sources/gloo-proxy.md
  docs/sources/istio.md
  docs/sources/kong.md
  docs/sources/mx-record.md
  docs/sources/nodes.md
  docs/sources/ns-record.md
  docs/sources/openshift.md
  docs/sources/traefik-proxy.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-load-balancer-controller.md
  docs/tutorials/aws-public-private-route53.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gke-nginx.md
  docs/tutorials/gke.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/kops-dns-controller.md
  docs/tutorials/kube-ingress-aws.md
  docs/tutorials/linode.md
  docs/tutorials/ns1.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/L, approved

#4728 bump kustomize version to v0.15.0
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4729 update the docs to v0.15.0
  docs/faq.md
  docs/registry/dynamodb.md
  docs/release.md
  docs/sources/gateway-api.md
  docs/sources/gloo-proxy.md
  docs/sources/istio.md
  docs/sources/kong.md
  docs/sources/nodes.md
  docs/sources/openshift.md
  docs/sources/traefik-proxy.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-public-private-route53.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gke-nginx.md
  docs/tutorials/gke.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/linode.md
  docs/tutorials/ns1.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#4640 Migrate to aws-sdk-go-v2
  go.mod
  go.sum
  main.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/aws/config.go
  provider/aws/config_test.go
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
  provider/zone_type_filter.go
  provider/zone_type_filter_test.go
  registry/dynamodb.go
  registry/dynamodb_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4691 Do not risk exposing unauthenticated webhook port on container
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/service.yaml
  charts/external-dns/templates/servicemonitor.yaml
  charts/external-dns/values.yaml
  docs/tutorials/webhook-provider.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4735 feat(chart): Updated image to v0.15.0
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#4740 docs: add reference to Efficient IP webhook provider
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4738 docs: add reference to Netic's TidyDNS webhook provider
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4748 fix: update with cloudflare and alibaba cloud
  go.mod
  go.sum
  provider/alibabacloud/alibaba_cloud_test.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#4582 fix(issue-4448): aws route53 inconsistent domain name handling - octal escapes
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4682 adds soft error for google provider
  provider/google/google.go
  provider/google/google_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4753 pdns provider: add optional argument for making the parameter server_id configurable
  docs/tutorials/pdns.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/pdns/pdns.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4777 add Vultr webhook provider reference
  README.md
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved

#4690 feat(digitalocean): add mx and txt records support
  README.md
  docs/sources/mx-record.md
  docs/sources/txt-record.md
  provider/digitalocean/digital_ocean.go
  provider/digitalocean/digital_ocean_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test
