Repository kubernetes-sigs/external-dns, pull requests merged in 2024-08, with the labels that each got.

#4662 docs: fix broken link
  README.md
  docs/faq.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4663 azure-private-dns: Fix LoadBalancer example
  docs/tutorials/azure-private-dns.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4577 AWS: Change documentation to use Helm values
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/L, needs-ok-to-test, approved

#3400 Improve MinEventInterval compliance with docs
  controller/controller.go
  controller/controller_test.go
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4597 Add provider cache
  controller/controller.go
  controller/controller_test.go
  docs/rate-limits.md
  docs/tutorials/aws.md
  endpoint/domain_filter.go
  main.go
  mkdocs.yml
  pkg/apis/externaldns/types.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/cached_provider.go
  provider/cached_provider_test.go
  provider/inmemory/inmemory.go
  provider/provider.go
  provider/webhook/api/httpapi_test.go
  provider/webhook/webhook.go
  registry/aws_sd_registry.go
  registry/dynamodb.go
  registry/noop.go
  registry/registry.go
  registry/txt.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4679 chore: update maintainers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4560 fix(helm): make use of resource values for webhook
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, ok-to-test

#4683 Fix AWS Cloud Map docs: annotation key/value pairs must be strings
  docs/tutorials/aws-sd.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4643 Webhook provider helm chart fixes
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/service.yaml
  charts/external-dns/templates/servicemonitor.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4686 Add tutorial to DynamoDB registry docs
  docs/rate-limits.md
  docs/registry/dynamodb.md
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#4698 chore: upgrade ExternalDNS to go 1.23
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/staging-image-tester.yaml
  Makefile
  cloudbuild.yaml
  docs/contributing/getting-started.md
  go.mod
  provider/tencentcloud/cloudapi/mockapi.go
  provider/tencentcloud/cloudapi/tencentapi.go
  provider/tencentcloud/dnspod.go
  provider/tencentcloud/privatedns.go
  provider/vinyldns/vinyldns.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#2633 feat: add annotation and label filters to Ambassador Host Source
  docs/sources/sources.md
  pkg/apis/externaldns/types.go
  source/ambassador_host.go
  source/ambassador_host_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#4714 Add RouterOS provider to README.md
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved
