Repository kubernetes-sigs/external-dns, pull requests merged in 2024-06, with the labels that each got.

#4529 🌱 docs(footer): Add trademark disclaimer
  docs/overrides/partials/copyright.html
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/M, kind/documentation, approved, ok-to-test

#4516 chore!: Remove infoblox in-tree provider
  README.md
  docs/proposal/multi-target.md
  docs/tutorials/infoblox.md
  go.mod
  go.sum
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  pkg/apis/externaldns/validation/validation.go
  provider/infoblox/infoblox.go
  provider/infoblox/infoblox_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4534 Update to Go 1.22.4
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/staging-image-tester.yaml
  cloudbuild.yaml
  go.mod
Labels: cncf-cla: yes, lgtm, size/S, approved

#4538 Add documentation about etcd HTTPS for CoreDNS provider
  docs/tutorials/coredns.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4541 chore(chart): Released chart for v0.14.2
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/README.md.gotmpl
  charts/external-dns/crds/dnsendpoint.yaml
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/servicemonitor.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved

#3973 feat(aws): use AWS profiles using .credentials file
  docs/tutorials/aws.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/aws/session.go
  provider/aws/session_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4515 fix(cloudflare): trimSpace on token read from file
  provider/cloudflare/cloudflare.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4378 docs: upgrade mkdocs and fix broken links
  .github/workflows/docs.yaml
  LICENSE.md
  README.md
  docs/contributing/getting-started.md
  docs/faq.md
  docs/scripts/copy_docs.sh
  docs/scripts/docs.go
  docs/scripts/requirements.txt
  docs/tutorials/aws.md
  docs/tutorials/mx-record.md
  docs/tutorials/ns-record.md
  docs/tutorials/webhook-provider.md
  external-dns.code-workspace
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/L, approved

#4283 feat(rfc2136): add PTR optional support
  docs/tutorials/rfc2136.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/validation/validation_test.go
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
  source/ingress_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test
