Repository kubernetes-sigs/external-dns, pull requests merged in 2024-01, with the labels that each got.

#4078 webhook: Fix metric name and add request gauges
  docs/faq.md
  provider/webhook/webhook.go
Labels: cncf-cla: yes, lgtm, size/M, release-note, approved

#4094 fix(istio): support for ExternalIPs in Istio resources
  docs/tutorials/istio.md
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4107 Update rfc2136 provider to split out changes per zone
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4071 Exoscale provider optimization
  provider/exoscale/exoscale.go
  provider/exoscale/exoscale_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4087 fix: godaddy - rate limiter add one token every second
  provider/godaddy/client.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4153 feat(helm-chart): Allow configuration of ipFamilyPolicy
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/service.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#4161 chore(chart): Deprecated secretConfiguration
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#4032 feat: support webhook provider in Chart
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/README.md.gotmpl
  charts/external-dns/templates/_helpers.tpl
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/servicemonitor.yaml
  charts/external-dns/values.yaml
  docs/tutorials/webhook-provider.md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#4073 feat(helm-chart): Released chart for v0.14.0
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4168 chore(chart): Fixed chart changelog
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4162 fix(pdns): provider implicitly changes CNAME to ALIAS
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4173 fix(chart): Fix webhook install failure
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#4166 fix: provide possibility to have a soft error mode
  controller/controller.go
  provider/aws/aws.go
  provider/provider.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#4180 [helm] Allow tpl in provider again
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, ok-to-test

#4205 add RBAC fix to namespaces - get, watch, list to each gateway-*route
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, ok-to-test

#4208 chore: Released chart v1.14.3
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/templates/serviceaccount.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved
