Repository kubernetes-sigs/external-dns, pull requests merged in 2024-10, with the labels that each got.

#4648 Add support for MX and SRV records in pdns provider
  docs/tutorials/pdns.md
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4788 Remove deprecated rnds provider
  README.md
  docs/tutorials/rdns.md
  main.go
  pkg/apis/externaldns/types.go
  provider/rdns/rdns.go
  provider/rdns/rdns_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#4706 Do not expose the AWS role external id in the logs
  pkg/apis/externaldns/types.go
  provider/aws/config.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4761 source node: Skip unschedulable nodes
  docs/sources/nodes.md
  source/node.go
  source/node_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4801 add huaweicloud webhook to readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4809 add mikrotik provider reference
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4811 feat: add azure zone list cache
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  main.go
  pkg/apis/externaldns/types.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
  provider/azure/cache.go
  provider/azure/cache_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4745 feat(aws-sd): tag services
  docs/tutorials/aws-sd.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4721 Add AWS_INSTANCE_IPV6 support to the AWS-SD provider
  docs/tutorials/aws-sd.md
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4832 fix flaky aws sd test
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4578 feat: add soft errors to pdns provider
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4667 [helm] Add global.imagePullSecrets
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4817 feat: log when endpoint ignored due to ownerid not match
  plan/plan.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test
