Repository kubernetes-sigs/external-dns, pull requests merged in 2024-07, with the labels that each got.

#4583 Update cloudflare.md
  docs/tutorials/cloudflare.md
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved

#4567 feat!: update GRPCRoute client from v1alpha2 to stable v1
  source/gateway_grpcroute.go
  source/gateway_grpcroute_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4602 docs(annotations): note how to set multiple hostnames
  docs/annotations/annotations.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4610 Gateway API: Revert Gateway and HTTPRoute objects from v1 to v1beta1
  docs/tutorials/gateway-api.md
  source/gateway.go
  source/gateway_grpcroute_test.go
  source/gateway_httproute.go
  source/gateway_httproute_test.go
  source/gateway_tcproute_test.go
  source/gateway_tlsroute_test.go
  source/gateway_udproute_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test
