Repository kubernetes-sigs/external-dns, pull requests merged in 2024-03, with the labels that each got.

#4293 fix(service): omit nil endpoints and prefer endpointsForHostname()
  source/ingress_test.go
  source/service.go
  source/service_test.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4304 chore: update maintainers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4120 feat(ambassador): add support for provider specific annotations
  docs/annotations/annotations.md
  source/ambassador_host.go
  source/ambassador_host_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4331 kustomize-v0.14.1
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4332 replace all links in tutorials for v0.14.1
  docs/faq.md
  docs/release.md
  docs/tutorials/ANS_Group_SafeDNS.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/bluecat.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/dyn.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gateway-api.md
  docs/tutorials/gke.md
  docs/tutorials/gloo-proxy.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/infoblox.md
  docs/tutorials/istio.md
  docs/tutorials/kong.md
  docs/tutorials/linode.md
  docs/tutorials/nginx-ingress.md
  docs/tutorials/nodes.md
  docs/tutorials/ns1.md
  docs/tutorials/openshift.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/public-private-route53.md
  docs/tutorials/rcodezero.md
  docs/tutorials/rdns.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/traefik-proxy.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  docs/tutorials/vinyldns.md
  docs/tutorials/vultr.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#4318 chore: upgrade ExternalDNS to go 1.22
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yaml
  .github/workflows/staging-image-tester.yml
  cloudbuild.yaml
  docs/contributing/getting-started.md
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/S, approved
