Repository kubernetes-sigs/external-dns, pull requests merged in 2024-04, with the labels that each got.

#4322 Add `dnsendpoint` CRD to Helm chart
  charts/external-dns/CHANGELOG.md
  charts/external-dns/crds/dnsendpoint.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#4357 chore(chart): Released chart for v0.14.1
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#4350 chore: alphabetical order on providers
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved

#4365 doc: advertise current plan on providers
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash

#4351 Fix(ipv6): support ipv6 shortener and expander equal
  endpoint/endpoint.go
  endpoint/endpoint_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4319 feat(WebhookProvider): Let WebhookProvider return `SoftError` on response status codes >= 500
  provider/webhook/webhook.go
  provider/webhook/webhook_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4374 Webhook provider: Use correct error gauge in `AdjustEndpoints()` func
  provider/webhook/webhook.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4380 Add exclude domains value in Chart
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4389 docs(aws): fix typo and upgrade cleanup flow
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved

#4373 docs(gke): detail how to configure workload identity
  docs/tutorials/gke.md
Labels: cncf-cla: yes, lgtm, size/L, needs-ok-to-test, approved

#4397 chore(ci): fix failing test
  source/service_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4400 chore: Update controller-tools version to v0.14.0
  Makefile
  docs/contributing/crd-source/crd-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4406 chore(ci): update golangci-lint to v1.57.2
  .github/workflows/lint.yaml
  .golangci.yml
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#4414 chore: upgrade ExternalDNS to go 1.22.2
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/staging-image-tester.yaml
  cloudbuild.yaml
  go.mod
Labels: cncf-cla: yes, lgtm, size/S, approved

#4210 custom Azure Active Directory Authority Host
  docs/tutorials/azure.md
  main.go
  pkg/apis/externaldns/types.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_test.go
  provider/azure/config.go
  provider/azure/config_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4274 feat(DNSimple): User API tokens
  docs/tutorials/dnsimple.md
  provider/dnsimple/dnsimple.go
  provider/dnsimple/dnsimple_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4415 docs: annotation placement for azuredns tutorial
  docs/tutorials/azure.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#4346 feat(azure): add zone name filter for Azure Private DNS
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  main.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4189 test: detect no change necessary with provider specific config
  plan/plan_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#4405 docs: add setup example with helm chart on some providers
  charts/external-dns/README.md
  charts/external-dns/README.md.gotmpl
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/aws.md
  docs/tutorials/cloudflare.md
  docs/tutorials/digitalocean.md
  docs/tutorials/godaddy.md
  docs/tutorials/ns1.md
  docs/tutorials/plural.md
  docs/tutorials/vultr.md
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test
