Repository kubernetes-sigs/external-dns, pull requests merged in 2024-12, with the labels that each got.

#4874 feat(webhook): initial OpenAPI spec
  .github/workflows/lint.yaml
  .spectral.yaml
  Makefile
  api/webhook.yaml
  docs/tutorials/webhook-provider.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#4912 add abion webhook to readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4666 Include labelSelector for affinity and topologySpreadConstraints
  charts/external-dns/CHANGELOG.md
  charts/external-dns/ci/ci-values.yaml
  charts/external-dns/templates/_helpers.tpl
  charts/external-dns/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4846 feat(Azure DNS): add NS record support
  provider/azure/azure.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4962 update to latest ko version
  .ko.yaml
  scripts/install-ko.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4966 kustomize-v0.15.1
  kustomize/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved

#4969 docs: fix typos in tutorials
  docs/sources/service.md
  docs/tutorials/cloudflare.md
Labels: cncf-cla: yes, lgtm, size/S, approved

#4973 replace all versions to v0.15.1
  docs/faq.md
  docs/registry/dynamodb.md
  docs/release.md
  docs/sources/gateway-api.md
  docs/sources/gloo-proxy.md
  docs/sources/istio.md
  docs/sources/kong.md
  docs/sources/nodes.md
  docs/sources/openshift.md
  docs/sources/traefik-proxy.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-public-private-route53.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gke-nginx.md
  docs/tutorials/gke.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/linode.md
  docs/tutorials/ns1.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
Labels: cncf-cla: yes, lgtm, size/L, approved

#4961 feat: don't discard klog logs at the highest log levels (debug and trace)
  main.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#4943 fix(source): allow ipv4-mapped ipv6 addresses
  source/source.go
  source/source_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
