Repository kubernetes-sigs/external-dns, pull requests merged in 2025-06, with the labels that each got.

#5489 chore(source/crd): improve test coverage, fix deprecations
  source/crd.go
  source/crd_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5485 chore(source/service): restructure code to make service type filters testable
  docs/flags.md
  pkg/apis/externaldns/types.go
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, docs, source, size/L, approved, tide/merge-method-squash

#5491 chore: update maintainers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5492 chore(source/crd): optimize endpoint labels without looping over
  endpoint/endpoint.go
  internal/testutils/endpoint_test.go
  source/crd.go
  source/crd_test.go
  source/shared_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5470 chore(code-quality): reduce cyclomatic complexity of podSource.Endpoints()
  source/pod.go
  source/pod_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#5502 feat(metrics): consecutiveSoftErrors
  controller/controller.go
  controller/controller_test.go
  docs/monitoring/metrics.md
  internal/gen/docs/metrics/main_test.go
Labels: cncf-cla: yes, lgtm, docs, size/M, approved, ok-to-test

#5450 fix: ovh: correct handling of records deletion
  provider/ovh/ovh.go
  provider/ovh/ovh_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5514 test(source): fix flakyness on pod_test.go
  source/pod_test.go
Labels: cncf-cla: yes, lgtm, source, size/XS, approved

#5517 test(source): remove flaky log assertions from pod tests
  source/pod_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved, ok-to-test

#5518 test(controller): increase timeout and refactor toggle registry test
  controller/controller_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#5516 feat(controller)!: publish metrics for all supported endpoint types
  controller/controller.go
  controller/controller_test.go
  controller/metrics.go
  controller/metrics_test.go
  docs/monitoring/metrics.md
  endpoint/endpoint.go
  internal/gen/docs/metrics/main.go
  internal/gen/docs/metrics/main_test.go
  internal/testutils/endpoint.go
  internal/testutils/metrics.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/models.go
  pkg/metrics/models_test.go
Labels: cncf-cla: yes, lgtm, docs, size/XXL, approved

#5512 feat(source/pod): add support for fqdn templating
  docs/advanced/fqdn-templating.md
  source/pod.go
  source/pod_fqdn_test.go
  source/pod_test.go
  source/store.go
  source/utils.go
Labels: cncf-cla: yes, lgtm, docs, source, size/XL, approved

#5529 test(source): add fqdn specific tests on service
  source/service.go
  source/service_fqdn_test.go
Labels: cncf-cla: yes, lgtm, source, size/XL, approved

#5526 feat(source/node): fqdn support combineFQDNAnnotation
  docs/advanced/fqdn-templating.md
  source/node.go
  source/node_fqdn_test.go
  source/node_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, docs, source, size/L, approved

#5538 fix(chart): release chart process
  .github/workflows/release-chart.yaml
  charts/external-dns/Chart.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, chart

#5541 feat(chart): add missing changelog for #5493
  charts/external-dns/CHANGELOG.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, chart

#5536 perf(source): benchmarks on EndpointTargetsFromServices
  source/endpoint_benchmark_test.go
  source/endpoints.go
  source/endpoints_test.go
  source/f5_virtualserver_test.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5546 chore(domainfilter): use pointer receivers for DomainFilter
  controller/controller_test.go
  controller/execute.go
  controller/execute_test.go
  endpoint/domain_filter.go
  endpoint/domain_filter_test.go
  plan/plan_test.go
  provider/akamai/akamai.go
  provider/akamai/akamai_test.go
  provider/alibabacloud/alibaba_cloud.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/aws/aws_utils_test.go
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
  provider/awssd/fixtures_test.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/azure/azure_privatedns_test.go
  provider/azure/azure_test.go
  provider/civo/civo.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/coredns/coredns.go
  provider/coredns/coredns_test.go
  provider/digitalocean/digital_ocean.go
  provider/dnsimple/dnsimple.go
  provider/exoscale/exoscale.go
  provider/gandi/gandi.go
  provider/godaddy/godaddy.go
  provider/google/google.go
  provider/google/google_test.go
  provider/inmemory/inmemory.go
  provider/linode/linode.go
  provider/ns1/ns1.go
  provider/oci/oci.go
  provider/oci/oci_test.go
  provider/ovh/ovh.go
  provider/ovh/ovh_test.go
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
  provider/pihole/pihole.go
  provider/provider.go
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
  provider/scaleway/scaleway.go
  provider/transip/transip.go
  provider/webhook/api/httpapi_test.go
  provider/webhook/webhook.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, ok-to-test

#5552 test(awssd): fix a flaky test
  provider/awssd/fixtures_test.go
Labels: cncf-cla: yes, lgtm, provider, size/XS, approved, ok-to-test

#5309 feat(cloudflare): improve cloudflare regional hostnames implementation
  controller/execute.go
  docs/flags.md
  docs/tutorials/cloudflare.md
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_regional.go
  provider/cloudflare/cloudflare_regional_test.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/XXL, approved, ok-to-test

#5283 feat(cloudflare): add support for MX records
  docs/sources/mx-record.md
  endpoint/endpoint.go
  endpoint/endpoint_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/digitalocean/digital_ocean.go
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/XXL, approved, ok-to-test

#5560 chore(docs): fix documentation references
  docs/tutorials/security-context.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, docs, size/XS, approved

#5563 chore(deps): bump json-yaml-validate to v3.3.1
  .github/workflows/json-yaml-validate.yml
Labels: cncf-cla: yes, lgtm, size/XS, approved, dependencies

#5559 docs(traefik): public and private routing
  docs/flags.md
  docs/snippets/traefik-proxy/ingress-route-default.yaml
  docs/snippets/traefik-proxy/ingress-route-public-private.yaml
  docs/snippets/traefik-proxy/traefik-public-private-config.yaml
  docs/snippets/traefik-proxy/with-cluster-rbac.yaml
  docs/snippets/traefik-proxy/without-rbac.yaml
  docs/sources/traefik-proxy.md
  pkg/apis/externaldns/types.go
  source/traefik_proxy.go
  source/traefik_proxy_test.go
Labels: cncf-cla: yes, lgtm, docs, source, size/XL, approved

#5564 fix(chart): Change .extraContainers type to array
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, chart

#5571 chore(ci): improve releaser script
  scripts/releaser.sh
Labels: cncf-cla: yes, lgtm, size/S, approved

#5575 feat(nodes)!: expose external ipv6 by default
  docs/flags.md
  docs/proposal/002-internal-ipv6-handling-rollback.md
  docs/sources/nodes.md
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, docs, size/S, approved

#5587 fix: reduce warning by using idna profile
  plan/plan.go
  plan/plan_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5589 refactor: use slices.Contains instead of handrolled for loop
  plan/plan.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#5568 chore(store*): add reduce complexity and improve code coverage
  .golangci.yml
  source/store.go
  source/store_test.go
Labels: cncf-cla: yes, lgtm, source, size/XL, approved

#5542 fix(rfc2136): Use correct index for accessing UpdateOld if there are multiple chunks
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/M, approved, ok-to-test
