Repository kubernetes-sigs/external-dns, pull requests merged in 2025-03, with the labels that each got.

#5058 feat(aws): fetch zones with tags batching
  .github/workflows/lint-test-chart.yaml
  docs/tutorials/aws-filters.md
  docs/tutorials/aws.md
  provider/aws/aws.go
  provider/aws/aws_fixtures_test.go
  provider/aws/aws_test.go
  provider/aws/aws_utils_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5111 feat(aws): always create AAAA alias records in route53
  docs/sources/gateway.md
  docs/tutorials/aws-load-balancer-controller.md
  docs/tutorials/aws.md
  docs/tutorials/kube-ingress-aws.md
  endpoint/labels.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  source/gateway.go
  source/gateway_test.go
  source/ingress.go
  source/ingress_test.go
  source/kong_tcpingress.go
  source/skipper_routegroup.go
  source/skipper_routegroup_test.go
  source/traefik_proxy.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, ok-to-test

#5137 feat(chart): add helm-unittest framework
  .github/workflows/lint-test-chart.yaml
  Makefile
  charts/external-dns/.helmignore
  charts/external-dns/CHANGELOG.md
  charts/external-dns/tests/common-metadata_test.yaml
  charts/external-dns/tests/deployment-config_test.yaml
  charts/external-dns/tests/deployment-flags_test.yaml
  charts/external-dns/tests/deployment-scheduling_test.yaml
  charts/external-dns/tests/notes_test.yaml
  charts/external-dns/tests/rbac_test.yaml
  charts/external-dns/tests/secret_test.yaml
  charts/external-dns/tests/serviceaccount_test.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
  docs/contributing/dev-guide.md
  scripts/helm-tools.sh
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash

#5135 fix(aws-sd): service instances registration and deregistration
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#4978 feat(deps): added renovate config for custom regexes
  .github/renovate-config.js
  .github/renovate.json
  .github/workflows/dependency-update.yaml
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved

#5149 fix(registry): handle empty targets in TXT records logging an error
  registry/txt.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5157 chore: add mexico region to external dns supported load balancers
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#5158 add: auto label source and providers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved

#5160 feat(source): fitler by gateway name
  docs/flags.md
  docs/sources/gateway-api.md
  docs/sources/gateway.md
  pkg/apis/externaldns/types.go
  source/gateway.go
  source/gateway_httproute_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#5164 chore: update OWNERS with required config file
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5146 fix(cloudflare): optional custom hostnames
  docs/flags.md
  docs/tutorials/cloudflare.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, ok-to-test

#5169 fix(source): pass GatewayName to config
  main.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#5181 fix(cloudflare): infinite loop with more than 50 custom hostnames
  docs/tutorials/cloudflare.md
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#5184 chore(release): updates kustomize & docs with v0.16.1
  docs/faq.md
  docs/registry/dynamodb.md
  docs/release.md
  docs/sources/gateway-api.md
  docs/sources/gloo-proxy.md
  docs/sources/istio.md
  docs/sources/kong.md
  docs/sources/nodes.md
  docs/sources/openshift.md
  docs/sources/traefik-proxy.md
  docs/tutorials/akamai-edgedns.md
  docs/tutorials/alibabacloud.md
  docs/tutorials/aws-public-private-route53.md
  docs/tutorials/aws-sd.md
  docs/tutorials/aws.md
  docs/tutorials/azure-private-dns.md
  docs/tutorials/azure.md
  docs/tutorials/civo.md
  docs/tutorials/cloudflare.md
  docs/tutorials/contour.md
  docs/tutorials/coredns.md
  docs/tutorials/designate.md
  docs/tutorials/digitalocean.md
  docs/tutorials/dnsimple.md
  docs/tutorials/exoscale.md
  docs/tutorials/externalname.md
  docs/tutorials/gandi.md
  docs/tutorials/gke-nginx.md
  docs/tutorials/gke.md
  docs/tutorials/godaddy.md
  docs/tutorials/hostport.md
  docs/tutorials/ibmcloud.md
  docs/tutorials/linode.md
  docs/tutorials/ns1.md
  docs/tutorials/oracle.md
  docs/tutorials/ovh.md
  docs/tutorials/pdns.md
  docs/tutorials/pihole.md
  docs/tutorials/plural.md
  docs/tutorials/rfc2136.md
  docs/tutorials/scaleway.md
  docs/tutorials/security-context.md
  docs/tutorials/tencentcloud.md
  docs/tutorials/transip.md
  docs/tutorials/ultradns.md
  kustomize/kustomization.yaml
  scripts/get-sha256.sh
  scripts/kustomize-version-updater.sh
  scripts/version-updater.sh
Labels: cncf-cla: yes, lgtm, size/L, approved

#5126 chore(openstack designate)!: remove in-tree provider
  README.md
  docs/flags.md
  docs/tutorials/designate.md
  main.go
  pkg/apis/externaldns/types.go
  provider/designate/designate.go
  provider/designate/designate_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved

#5190 Add Yandex Cloud Webhook
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#5143 feat(ovh): major rewriting of the provider
  README.md
  docs/flags.md
  docs/tutorials/ovh.md
  internal/gen/docs/flags/main.go
  main.go
  pkg/apis/externaldns/types.go
  provider/ovh/ovh.go
  provider/ovh/ovh_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, ok-to-test

#5201 feat(chart): Update image to v0.16.1
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#5147 feat: IDNA awareness in the zone finder
  provider/zonefinder.go
  provider/zonefinder_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, ok-to-test

#5154 feat(banner): standardize user agent and output
  Makefile
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/version.go
  pkg/apis/externaldns/version_test.go
  provider/civo/civo.go
  provider/digitalocean/digital_ocean.go
  provider/dnsimple/dnsimple.go
  provider/godaddy/client.go
  provider/linode/linode.go
  provider/linode/linode_test.go
  provider/ovh/ovh.go
  provider/scaleway/scaleway.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5183 fix(cloudflare): custom hostnames edge-cases causing duplicates
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: kind/bug, cncf-cla: yes, lgtm, size/L, kind/cleanup, approved, tide/merge-method-squash, ok-to-test

#5197 fix(aws): typo on route53 IAM
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#5192 feat(source): optional expose of nodes internal ipv6
  docs/flags.md
  docs/sources/nodes.md
  main.go
  pkg/apis/externaldns/types.go
  source/node.go
  source/node_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#5207 fix(chart): add missing types for empty values
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/tests/deployment-config_test.yaml
  charts/external-dns/tests/serviceaccount_test.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#5232 fix(node): logger test fixed
  source/node.go
  source/node_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash

#5231 docs(typo): grcp → grpc
  docs/sources/gateway.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#5200 chore: add se for nlb, alb in thailand region
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#5222 chore(code-cleanup): move logic away from main.go add tests
  controller/execute.go
  controller/execute_test.go
  main.go
  pkg/apis/externaldns/types.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash

#5079 docs(proposal): externaldns api graduation to beta
  docs/proposal/003-dnsendpoint-graduation-to-beta.md
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash
