Repository kubernetes-sigs/external-dns, pull requests merged in 2025-04, with the labels that each got.

#5228 fix(helm): added missing schema values
  Makefile
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/README.md.gotmpl
  charts/external-dns/templates/NOTES.txt
  charts/external-dns/templates/_helpers.tpl
  charts/external-dns/tests/json-schema_test.yaml
  charts/external-dns/tests/notes-deprecation_test.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5246 chore(ci): update linter to v2.0.2
  .github/workflows/lint.yaml
  .golangci.yml
  Makefile
  internal/gen/docs/flags/main.go
  pkg/rfc2317/arpa.go
  provider/akamai/akamai.go
  provider/alibabacloud/alibaba_cloud.go
  provider/cloudflare/cloudflare.go
  provider/gandi/gandi.go
  provider/ovh/ovh.go
  provider/plural/plural.go
  provider/provider.go
  provider/tencentcloud/cloudapi/tencentapi.go
  provider/ultradns/ultradns.go
  source/compatibility.go
  source/crd.go
  source/pod.go
  source/service.go
  source/skipper_routegroup.go
  source/source.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5226 feat(pihole): add optional support for v6
  controller/execute.go
  docs/flags.md
  docs/tutorials/pihole.md
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/pihole/client.go
  provider/pihole/clientV6.go
  provider/pihole/clientV6_test.go
  provider/pihole/client_test.go
  provider/pihole/pihole.go
  provider/pihole/piholeV6_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, ok-to-test

#5239 feat(cloudflare): multiple custom hostnames support
  .gitignore
  docs/tutorials/cloudflare.md
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#5250 chore(helm): add validation for prefix and suffix and capture regression
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/tests/deployment-flags_test.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash

#5268 chore(ci): fix random data race failure on source/node test
  source/node_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5241 fix(Gateway API): ensure generation match
  source/gateway.go
  source/gateway_grpcroute.go
  source/gateway_grpcroute_test.go
  source/gateway_httproute.go
  source/gateway_httproute_test.go
  source/gateway_tcproute.go
  source/gateway_tcproute_test.go
  source/gateway_tlsroute.go
  source/gateway_tlsroute_test.go
  source/gateway_udproute.go
  source/gateway_udproute_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#5270 chore: Release Helm chart v1.16.1
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved

#5175 fix(cloudflare): regional hostnames
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  source/source.go
  source/source_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#5292 chore(deps): switch to goccy yaml
  go.mod
  go.sum
  provider/alibabacloud/alibaba_cloud.go
  provider/aws/aws_utils_test.go
  provider/azure/config.go
  provider/ibmcloud/ibmcloud.go
  provider/oci/oci.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5252 chore(dependencies): update toools versions
  .github/renovate-config.js
  .github/workflows/ci.yaml
  Makefile
  scripts/install-tools.sh
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5273 test(log): fix random race detection
  internal/testutils/log.go
  source/gateway_httproute_test.go
  source/node_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5281 fix(zonefinder): handle underscores in dns records
  provider/zonefinder.go
  provider/zonefinder_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5306 chore(deps): build with go 1.24.2
  go.mod
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5297 fix(helm): update helm schema
  charts/external-dns/CHANGELOG.md
  charts/external-dns/tests/json-schema_test.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#5313 chore(deps): bump the dev-dependencies group across 1 directory with 21 updates
  .github/workflows/ci.yaml
  go.mod
  go.sum
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5253 feat(pihole): add support for IPv6 Dual format
  provider/pihole/clientV6.go
  provider/pihole/clientV6_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#5293 feat(helm): allow extraArgs to also be a map enabling overrides of individual values
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/tests/deployment-flags_test.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test

#5325 docs: update rfc2136
  docs/flags.md
  docs/tutorials/rfc2136.md
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5320 chore(code-quality): providers linter warnings fixes
  provider/cloudflare/cloudflare.go
  provider/coredns/coredns.go
  provider/dnsimple/dnsimple.go
  provider/exoscale/exoscale.go
  provider/godaddy/client.go
  provider/godaddy/godaddy.go
  provider/google/google.go
  provider/ibmcloud/ibmcloud.go
  provider/linode/linode.go
  provider/ns1/ns1.go
  provider/oci/oci.go
  provider/ovh/ovh.go
  provider/plural/plural.go
  provider/tencentcloud/tencent_cloud_test.go
  provider/ultradns/ultradns.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5334 test(source): fix data race on node_test
  source/node_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5288 chore(code): improve some tests + re-order sources flags CLI
  controller/execute_test.go
  docs/flags.md
  pkg/apis/externaldns/types.go
  plan/plan.go
  plan/plan_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5312 chore(providers): rename custom TTL constants to defaultTTL
  docs/providers.md
  provider/akamai/akamai.go
  provider/alibabacloud/alibaba_cloud.go
  provider/alibabacloud/alibaba_cloud_test.go
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/awssd/aws_sd.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  provider/digitalocean/digital_ocean.go
  provider/digitalocean/digital_ocean_test.go
  provider/dnsimple/dnsimple.go
  provider/gandi/gandi.go
  provider/godaddy/client.go
  provider/godaddy/godaddy.go
  provider/godaddy/godaddy_test.go
  provider/google/google.go
  provider/google/google_test.go
  provider/ibmcloud/ibmcloud.go
  provider/ns1/ns1.go
  provider/oci/oci.go
  provider/oci/oci_test.go
  provider/ovh/ovh.go
  provider/ovh/ovh_test.go
  provider/plural/plural.go
  provider/rfc2136/rfc2136.go
  provider/scaleway/scaleway.go
  provider/transip/transip.go
  provider/transip/transip_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash

#5337 chore(code-quality): webhook increase code coverage
  provider/webhook/api/httpapi.go
  provider/webhook/api/httpapi_test.go
  provider/webhook/webhook.go
  provider/webhook/webhook_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5335 chore(deps): code cleanup, pkg/errors is archived
  Makefile
  go.mod
  provider/oci/oci.go
  provider/oci/oci_test.go
  source/ambassador_host.go
  source/contour_httpproxy.go
  source/contour_httpproxy_test.go
  source/f5_transportserver.go
  source/f5_virtualserver.go
  source/istio_gateway_test.go
  source/istio_virtualservice_test.go
  source/kong_tcpingress.go
  source/skipper_routegroup_test.go
  source/store.go
  source/traefik_proxy.go
  source/traefik_proxy_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash

#5342 chore(webhook): bump cenkalti/backoff version
  go.mod
  go.sum
  provider/webhook/webhook.go
  provider/webhook/webhook_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash
