Repository kubernetes-sigs/external-dns, pull requests merged in 2025-08, with the labels that each got.

#5699 chore(source): use types instead of strings
  source/store.go
  source/store_test.go
  source/types/types.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5705 fix(provider): IDNA awareness in the zone finder
  provider/zonefinder.go
  provider/zonefinder_test.go
Labels: cncf-cla: yes, lgtm, provider, size/S, approved, ok-to-test

#5677 chore(metrics): refactor metrics to use common registry
  docs/monitoring/metrics.md
  internal/gen/docs/metrics/main_test.go
  pkg/http/http.go
  pkg/http/http_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/metrics/models.go
  pkg/metrics/models_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/L, approved, ok-to-test, apis, internal, metrics

#5715 test(source/istio): add missing test cases
  source/endpoints_test.go
  source/istio_gateway_test.go
  source/istio_virtualservice_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5670 chore(deps): update golangci-lint version to v2.2.2
  .github/workflows/lint.yaml
  scripts/install-tools.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, scripts

#5596 feat(source): use transformers in pod informers to reduce memory footprint
  source/pod.go
  source/pod_test.go
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved, ok-to-test

#5734 chore(cloudflare): upgrade library to v5
  go.mod
  go.sum
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_regional.go
  provider/cloudflare/cloudflare_regional_test.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, ok-to-test

#5737 feat(chart): add option to configure annotationFilter via dedicated helm value
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/templates/deployment.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
  scripts/helm-tools.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, ok-to-test, chart, scripts

#5728 refactor(source/istio): add transformers
  source/informers/fake.go
  source/informers/transfomers.go
  source/informers/transformers_test.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
Labels: cncf-cla: yes, lgtm, source, size/XL, approved

#5687 refactor(source): document and add debug information on wrappers
  controller/execute.go
  controller/execute_test.go
  docs/contributing/source-wrappers.md
  internal/testutils/mock_source.go
  pkg/apis/externaldns/types.go
  provider/fakes/provider.go
  source/wrappers/dedupsource.go
  source/wrappers/dedupsource_test.go
  source/wrappers/multisource.go
  source/wrappers/multisource_test.go
  source/wrappers/nat64source.go
  source/wrappers/nat64source_test.go
  source/wrappers/targetfiltersource.go
  source/wrappers/targetfiltersource_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, source, size/L, approved, apis, controller, internal

#5752 chore(helm): add rbac unit-tests for istio sources
  charts/external-dns/tests/rbac_test.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, chart

#5747 docs(readme): update k8s compatiblity table
  README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test

#5743 chore(source/istio): replace kube API calls with caching and ingress informers
  source/ingress.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
Labels: cncf-cla: yes, lgtm, docs, source, size/M, approved, chart

#5659 feat(events): raise k8s events with fake provider
  controller/controller.go
  controller/controller_test.go
  controller/events.go
  controller/events_test.go
  controller/execute.go
  docs/advanced/events.md
  docs/flags.md
  endpoint/endpoint.go
  endpoint/endpoint_test.go
  go.mod
  go.sum
  pkg/apis/externaldns/types.go
  pkg/events/OWNERS
  pkg/events/controller.go
  pkg/events/controller_test.go
  pkg/events/fake/fake.go
  pkg/events/types.go
  pkg/events/types_test.go
  plan/plan.go
  source/fake.go
  source/fake_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, source, size/XXL, approved, apis, controller, plan

#5756 docs(istio): document ingress annotation
  docs/annotations/annotations.md
  source/annotations/annotations.go
  source/istio_gateway.go
Labels: cncf-cla: yes, lgtm, docs, source, size/M, approved

#5753 fix(http): concurrent map read/write
  pkg/http/http.go
  pkg/http/http_benchmark_test.go
  pkg/metrics/labels.go
  pkg/metrics/labels_test.go
  pkg/metrics/metrics_test.go
  pkg/metrics/models.go
  pkg/metrics/models_test.go
  provider/aws/instrumented_config.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, metrics

#5779 chore(cloudflare): migrate CreateDNSRecord() to new lib
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, provider, size/M, approved, ok-to-test
