Repository kubernetes-sigs/external-dns, pull requests merged in 2025-07, with the labels that each got.

#5594 chore(codebase): enable linter nonamedreturns
  .golangci.yml
  endpoint/crypto.go
  endpoint/crypto_test.go
  pkg/rfc2317/arpa.go
  provider/akamai/akamai.go
  provider/alibabacloud/alibaba_cloud.go
  provider/alibabacloud/alibaba_cloud_test.go
  provider/aws/aws.go
  provider/awssd/aws_sd.go
  provider/azure/azure.go
  provider/azure/azure_private_dns.go
  provider/civo/civo_test.go
  provider/digitalocean/digital_ocean_test.go
  provider/dnsimple/dnsimple.go
  provider/exoscale/exoscale.go
  provider/gandi/client.go
  provider/gandi/gandi.go
  provider/gandi/gandi_test.go
  provider/godaddy/godaddy.go
  provider/google/google.go
  provider/inmemory/inmemory.go
  provider/oci/oci_test.go
  provider/ovh/ovh.go
  provider/pdns/pdns.go
  provider/plural/plural.go
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
  provider/zonefinder.go
  registry/txt.go
  source/ambassador_host.go
  source/crd.go
  source/fqdn/fqdn.go
  source/istio_gateway.go
  source/istio_virtualservice.go
  source/service.go
  source/utils.go
Labels: cncf-cla: yes, lgtm, provider, source, size/L, approved

#5347 feat(aws): add support for geoproximity routing
  docs/tutorials/aws.md
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/XL, approved, tide/merge-method-squash, ok-to-test

#5580 chore(ci): update labels automation
  apis/OWNERS
  controller/OWNERS
  internal/OWNERS
  kustomize/OWNERS
  pkg/apis/OWNERS
  pkg/metrics/OWNERS
  pkg/rfc2317/OWNERS
  pkg/tlsutils/OWNERS
  plan/OWNERS
  registry/OWNERS
  scripts/OWNERS
Labels: cncf-cla: yes, lgtm, size/M, approved

#5565 feat(traefik)!: disable legacy listeners on traefik.containo.us API Group
  docs/flags.md
  docs/sources/traefik-proxy.md
  pkg/apis/externaldns/types.go
  source/store.go
  source/traefik_proxy.go
  source/traefik_proxy_test.go
Labels: cncf-cla: yes, lgtm, docs, source, size/M, approved

#5607 chore(codebase): code reuse
  source/ambassador_host.go
  source/contour_httpproxy.go
  source/endpoints.go
  source/endpoints_test.go
  source/f5_transportserver.go
  source/f5_virtualserver.go
  source/gateway.go
  source/gloo_proxy.go
  source/ingress.go
  source/istio_gateway.go
  source/istio_virtualservice.go
  source/kong_tcpingress.go
  source/openshift_route.go
  source/service.go
  source/skipper_routegroup.go
  source/traefik_proxy.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5615 refactor(provider/cloudflare): use local regionalHostname struct
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_regional.go
  provider/cloudflare/cloudflare_regional_test.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, ok-to-test

#5611 feat(source/istio): support version 1.25+
  docs/sources/istio.md
  registry/txt_test.go
  source/istio_gateway.go
  source/istio_gateway_test.go
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
Labels: cncf-cla: yes, lgtm, docs, source, size/L, approved, registry

#5624 docs(source/service): headless records and root/base domain
  docs/annotations/annotations.md
  docs/tutorials/hostport.md
Labels: cncf-cla: yes, lgtm, docs, size/M, approved

#5625 chore(codebase): remove pointer to an interface
  source/crd.go
  source/crd_test.go
Labels: cncf-cla: yes, lgtm, source, size/S, approved

#5640 chore(plan): added tests for cases with asterisks
  plan/plan_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, plan

#5584 fix(pihole): create record for all targets
  provider/pihole/clientV6.go
  provider/pihole/clientV6_test.go
  provider/pihole/pihole.go
  provider/pihole/piholeV6_test.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, ok-to-test

#5609 chore(cloudflare): use lib v4 for regional services
  go.mod
  go.sum
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_regional.go
  provider/cloudflare/cloudflare_regional_test.go
  provider/cloudflare/pagination.go
  provider/cloudflare/pagination_test.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, ok-to-test

#5618 docs(aws): add helm repo command to the tutorial
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, docs, size/XS, approved, ok-to-test

#5613 fix(source/service): disable node informer when not required
  source/informers/handlers.go
  source/informers/handlers_test.go
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5639 fix(provider/aws): null pointer when records mailformed
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, provider, size/M, approved

#5606 docs: add information on external webhook usage
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5582 fix(cloudflare): set comments properly
  pkg/apis/externaldns/types.go
  provider/cloudflare/cloudflare.go
Labels: cncf-cla: yes, lgtm, provider, size/S, approved, ok-to-test

#5642 feat(source): support --event flags with sources pod and node
  source/node.go
  source/node_test.go
  source/pod.go
  source/pod_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved

#5650 fix(instrumented_http): migrate to own http instrumenter
  go.mod
  go.sum
  pkg/http/http.go
  pkg/http/http_test.go
  provider/aws/config.go
  provider/google/google.go
  provider/pihole/client.go
  provider/pihole/clientV6.go
  source/store.go
Labels: cncf-cla: yes, lgtm, provider, source, size/L, approved

#5652 fix(source): respect --expose-internal-ipv6 flag on NodePort services
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, source, size/M, approved, ok-to-test

#5662 fix(docs): Fixing some errors in the dev-guide example.
  docs/contributing/dev-guide.md
Labels: cncf-cla: yes, lgtm, docs, size/XS, approved, ok-to-test

#5682 fix(provider/aws-sd): fix namespace type filtering
  docs/flags.md
  pkg/apis/externaldns/types.go
  provider/awssd/aws_sd.go
  provider/awssd/aws_sd_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/M, approved, apis

#5688 chore(provider/aws): reduce if-nesting for dryRun condition
  provider/aws/aws.go
Labels: cncf-cla: yes, lgtm, provider, size/M, approved

#5654 refactor(cloudflare): use lib v4 for zone services
  docs/tutorials/cloudflare.md
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, docs, provider, size/XL, approved, ok-to-test

#5685 fix(endpoint): domains handling with idna
  endpoint/domain_filter.go
  internal/idna/idna.go
  internal/idna/idna_test.go
  plan/plan.go
  provider/zonefinder_test.go
Labels: cncf-cla: yes, lgtm, provider, size/L, approved, internal, plan

#5646 fix(source/service): disable pod and endpointSlices informers when they are not needed
  source/informers/fake.go
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, source, size/L, approved
