Repository kubernetes-sigs/external-dns, pull requests merged in 2025-10, with the labels that each got.

#5876 refactor(pihole): reduce cyclomatic complexity of TestProviderV6
  .gitignore
  .golangci.yml
  provider/pihole/clientV6_test.go
  provider/pihole/client_test.go
  provider/pihole/piholeV6_test.go
Labels: cncf-cla: yes, lgtm, provider, size/XL, approved

#5879 docs(myra): add info about protection option and docker image
  docs/tutorials/myra.md
Labels: cncf-cla: yes, lgtm, docs, size/M, approved, ok-to-test

#5875 ci(linter): add go-critic
  .golangci.yml
  controller/controller.go
  controller/execute.go
  endpoint/domain_filter.go
  endpoint/endpoint.go
  internal/gen/docs/flags/main.go
  internal/gen/docs/flags/main_test.go
  internal/gen/docs/metrics/main.go
  internal/testutils/endpoint_test.go
  pkg/events/types.go
  pkg/rfc2317/arpa.go
  provider/akamai/akamai_test.go
  provider/aws/aws.go
  provider/awssd/aws_sd.go
  provider/azure/azure_privatedns_test.go
  provider/civo/civo_test.go
  provider/cloudflare/cloudflare.go
  provider/coredns/coredns.go
  provider/digitalocean/digital_ocean_test.go
  provider/godaddy/godaddy.go
  provider/oci/oci.go
  provider/ovh/ovh.go
  provider/pdns/pdns_test.go
  provider/pihole/clientV6.go
  provider/pihole/clientV6_test.go
  provider/pihole/client_test.go
  provider/rfc2136/rfc2136_test.go
  registry/txt.go
  registry/txt_test.go
  source/annotations/provider_specific.go
  source/gateway_test.go
  source/gloo_proxy.go
  source/service.go
  source/store.go
  source/utils.go
  source/wrappers/multisource_test.go
Labels: cncf-cla: yes, lgtm, provider, source, size/L, approved, ok-to-test, controller, internal, rfc2317, registry

#5886 test: update goversion label to 1.25 in metrics test
  pkg/metrics/models_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, metrics

#5871 docs(advanced): configuration precedence
  docs/advanced/configuration-precedence.md
  docs/annotations/annotations.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, docs, size/M, approved
