Repository kubernetes-sigs/external-dns, pull requests merged in 2025-02, with the labels that each got.

#5050 docs: add staging images to release process
  README.md
  docs/release.md
Labels: cncf-cla: yes, lgtm, size/S, kind/documentation, approved, tide/merge-method-squash

#4993 fix(oci): records with multiple IP addresses
  provider/oci/oci.go
  provider/oci/oci_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#5065 docs(provider): add ClouDNS to README
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#5070 docs: fix typo on aws tutorial
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#5067 fix(chart): non-string types on svcaccount annotations
  charts/external-dns/CHANGELOG.md
  charts/external-dns/ci/ci-values.yaml
  charts/external-dns/templates/serviceaccount.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#5066 fix(chart): update rbac for F5 transportserver source
  charts/external-dns/CHANGELOG.md
  charts/external-dns/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, ok-to-test

#5073 docs: update and refactor contribution part
  .gitignore
  docs/contributing/design.md
  docs/contributing/dev-guide.md
  docs/contributing/index.md
  docs/contributing/sources-and-providers.md
  docs/flags.md
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash

#5064 test(domain-filter): simple filters on domain exclusion
  endpoint/domain_filter_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash

#5063 chore(filter-tags): pre-process filter tags
  docs/tutorials/aws.md
  provider/zone_tag_filter.go
  provider/zone_tag_filter_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#5046 fix(chart): regression with affinity.nodeAffinity getting ignored
  charts/external-dns/templates/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#5094 chore(release): publish chart v1.15.2
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved

#5093 chore(makefile): add helper and document targets
  Makefile
Labels: cncf-cla: yes, lgtm, size/M, approved

#5092 test(aws): introduce first fixture-based
  internal/testutils/log.go
  provider/aws/aws_fixtures_test.go
  provider/aws/aws_utils_test.go
  provider/aws/fixtures/160-plus-zones.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash

#4522 fix: use informer for istio gateways
  source/istio_virtualservice.go
  source/istio_virtualservice_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5075 feat(chart): automate helm json schema
  .github/workflows/lint-test-chart.yaml
  charts/external-dns/.helmignore
  charts/external-dns/.schema.yaml
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/schema/values.yaml
  charts/external-dns/values.schema.json
  charts/external-dns/values.yaml
  docs/contributing/dev-guide.md
  scripts/helm-tools.sh
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash

#5051 docs(proposal): support multiple replicas with leader election
  docs/proposal/001-leader-election.md
  mkdocs.yml
Labels: kind/feature, cncf-cla: yes, lgtm, size/L, kind/documentation, approved, tide/merge-method-squash

#5098 docs(proposal): update template with statuses
  docs/proposal/design-template.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5102 docs(registry): fix managed-record-type argument
  docs/registry/txt.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#5020 chore: update maintainers/reviewers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5085 feat(service): listen to endpoint changes
  docs/flags.md
  docs/sources/service.md
  main.go
  pkg/apis/externaldns/types.go
  source/service.go
  source/service_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5096 fix(source): debug log on gateway target detection
  source/gateway.go
  source/gateway_httproute_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5105 chore(makefile): simplify coverage script
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5087 feat(cloudflare): custom hostname and fix apex
  docs/tutorials/cloudflare.md
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
  source/source.go
  source/source_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test

#5106 chore: upgrade ExternalDNS to go 1.24
  .github/workflows/lint.yaml
  Makefile
  cloudbuild.yaml
  docs/contributing/dev-guide.md
  go.mod
  provider/azure/cache_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5115 Add OpenStack Designate webook provider to readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#5116 docs(README): fix link to dev guide
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#5054 test(cloudflare): add scenarios on submitChanges
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4871 feat(pdns): add validation for MX and SRV records
  endpoint/endpoint.go
  endpoint/endpoint_test.go
  provider/pdns/pdns.go
  provider/pdns/pdns_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#5128 docs(proposal): standartise date format
  docs/proposal/001-leader-election.md
  docs/proposal/design-template.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#5081 docs(proposal): ipv6 internal node ip rollback plan
  docs/proposal/002-internal-ipv6-handling-rollback.md
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash

#5132 docs: openwrt webhook
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, tide/merge-method-squash
