Repository kubernetes-sigs/external-dns, pull requests merged in 2025-01, with the labels that each got.

#4983 chore(docs): docs/flags.md generation
  Makefile
  docs/flags.md
  internal/gen/docs/flags/main.go
  internal/gen/docs/flags/main_test.go
  mkdocs.yml
  pkg/apis/externaldns/types.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4958 feat(chart): allow to run tpl on `ServiceAccount` annotations
  charts/external-dns/CHANGELOG.md
  charts/external-dns/README.md
  charts/external-dns/ci/ci-values.yaml
  charts/external-dns/templates/serviceaccount.yaml
  charts/external-dns/values.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, ok-to-test

#4932 fix(ovh): cache refresh and duplicates processing
  provider/ovh/ovh.go
  provider/ovh/ovh_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4856 fix: do not merge CNAME with multiple targets
  source/service.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#5013 chore(ci): fix failing test, upgrade to go 1.23.5 and linter to v1.63
  .github/workflows/lint.yaml
  Makefile
  endpoint/domain_filter_test.go
  go.mod
  internal/testutils/endpoint.go
  source/nat64source.go
  source/service_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#5014 chore(ci): remove too slow test
  provider/oci/oci_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved

#5015 feat: add dreamhost webook provider to readme
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4866 fix(godaddy): Handle missing Retry-After header gracefully
  provider/godaddy/client.go
  provider/godaddy/client_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4931 fix(cloudflare): use softerror on internal server error with api
  provider/cloudflare/cloudflare.go
  provider/cloudflare/cloudflare_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test

#4893 docs(Microsoft DNS): improve instructions
  docs/tutorials/rfc2136.md
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved

#4980 fix(aes-encryption): support plain txt and url safe base64 strings
  docs/registry/txt.md
  endpoint/crypto_test.go
  endpoint/labels.go
  endpoint/labels_test.go
  registry/dynamodb.go
  registry/dynamodb_test.go
  registry/txt.go
  registry/txt_encryption_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#5028 Release Helm chart for `v0.15.1`
  .github/workflows/lint-test-chart.yaml
  .github/workflows/release-chart.yaml
  charts/external-dns/CHANGELOG.md
  charts/external-dns/Chart.yaml
  charts/external-dns/README.md
  charts/external-dns/templates/clusterrole.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved

#5036 fix(docs): aws tutorial broken internal markdown links
  docs/tutorials/aws.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#5029 fix(aws-provider): ListTagsForResource incorrect zone-id handling
  docs/tutorials/aws.md
  provider/aws/aws.go
  provider/aws/aws_test.go
  provider/provider.go
Labels: cncf-cla: yes, lgtm, size/L, approved

#5031 chore(provider-aws): improve canonicalHostedZone handling
  provider/aws/aws.go
  provider/aws/aws_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved

#5038 Fix spelling in webhook OpenAPI spec
  api/webhook.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved

#4946 feat(txt-registry): add option to use only new format
  docs/flags.md
  docs/registry/txt.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  registry/txt.go
  registry/txt_encryption_test.go
  registry/txt_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, ok-to-test

#4782 feat(source): allow to register all pods and their associated PTR record
  docs/annotations/annotations.md
  docs/flags.md
  docs/sources/pod.md
  docs/tutorials/kops-dns-controller.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  source/pod.go
  source/pod_test.go
  source/store.go
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test

#4653 feat(rfc2136): support multiple hosts
  docs/flags.md
  docs/tutorials/rfc2136.md
  main.go
  pkg/apis/externaldns/types.go
  pkg/apis/externaldns/types_test.go
  provider/rfc2136/rfc2136.go
  provider/rfc2136/rfc2136_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, ok-to-test

#5053 docs: add deprecation policy
  docs/deprecation.md
  docs/proposal/design-template.md
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, size/L, kind/documentation, approved, tide/merge-method-squash
